[2017-02-12 03:16] tchellomello opened #3 "Fix traceback when trying to download a recording without subscription"
[code]

@tchellomello If someone tries to download/get the URL of a video while they have no active subscription it throws traceback:

Thanks to @syphernl for reporting the issue.

[2017-02-12 03:18] tchellomello commented on #3
@syphernl could you share the output for the command below on your environment?

[code]

Mine looks like this:

[code]

[2017-02-13 05:12] tchellomello opened #6 "Fix battery_lifetime() function"
The battery_lifetime() is returning 4107 on my device. We need to check what is the pattern between other devices to make it return 0-100 values.

[2017-02-13 16:54] tchellomello commented on #6
From @rpitera:
[code]

From @syphernl:

[code]

[2017-02-13 16:58] #6 closed

[2017-02-15 04:18] tchellomello commented on #3
Should be fixed on 0.0.2

[2017-02-15 04:18] #3 closed

[2017-02-15 04:26] tchellomello opened #9 "Fix urlencode for Python 2.7"
Fix urlencode for Python 2.7
[code]

[2017-02-15 04:30] #9 closed

[2017-02-20 03:43] tchellomello opened #13 "Allow to change volume level"
Allow for doorbell or chime to change volume level

[2017-02-25 09:02] #13 closed

[2017-02-26 05:28] tchellomello opened #16 "Fix token refresh and push notifications"
Reversing engineering using mitmproxy with a Ring software installed on a Windows box I had this:
[code]

[2017-02-26 05:31] tchellomello commented on #16
Probably after receiving the token, we need to send a put request with the push_notification_token.

Doing some tests...

[2017-03-08 04:21] tchellomello commented on #16
Relevant commit 3fbc00e22f2203081bbc6361b1383f9ff614f0bf @tchellomello

[2017-03-09 20:41] #16 closed

[2017-03-09 20:41] tchellomello commented on #16
Fixed by PR https://github.com/tchellomello/python-ring-doorbell/pull/17

[2017-03-10 11:22] syphernl opened #19 "Feature request: Change Chime ring"
In the Ring app it is possible to change the sound the Chime should use. With this we can change the volume, but it would be nice if the sound could be changed as well.

[2017-03-10 19:49] tchellomello commented on #19
Good idea @syphernl!

[2017-03-11 04:56] tchellomello opened #21 "Add unittests"
Add unittests

[2017-03-12 22:20] #21 closed

[2017-03-13 10:14] anthonyangel opened #23 "Feature request: Live view proxy"
Hi, would it be possible to use this library to allow a continuous live view stream to be exposed locally as an IP camera feed (either ONVIF or just an mp4 stream), so that it could be recorded by an NVR?

Ideally this would bypass Rings servers and just stay within the LAN (would reduce the overheads in terms of data transmission), but that doesn't seem possible at the moment,  but this would all

[2017-03-14 05:50] tchellomello commented on #23
@anthonyangel  if you call the function `live_streaming_json` you will get a JSON output with the data to connect to the SIP streaming. Maybe we could use this function to implement this proxy, however not sure if that would lock the device for other notifications.

[2017-03-15 03:13] tchellomello opened #28 "Fix test_sound method to support playing chimes from motion and ding"
Fix test_sound method to support playing chimes from motion and ding

[2017-03-15 03:25] tchellomello commented on #19
@syphernl could you test the PR https://github.com/tchellomello/python-ring-doorbell/pull/29  to see if works for you?

Thank you

[2017-03-15 22:20] #19 closed

[2017-03-17 10:00] GreenTurtwig opened #31 "Doesn't work with shared doorbells/Chimes"
My Ring account has a doorbell that has been shared with me so I can get notifications, check the status through the app, e.t.c.
The problem lies when I ran `myring.devices` I expected one doorbell and a Chime to appear, unfortunately neither show up. I assume this has to do with the account having shared devices.
Just wondering if this can be addressed as an issue.
Thanks :cat2:

[2017-03-17 14:43] anthonyangel commented on #23
Thanks, I'd had a look at that already for 1-off uses it works well. The initial issues I can foresee are:
- Timeout on the live stream, I think that the URL needs to be refreshed every 10 minutes
- Whether having this connected locks out the device

[2017-03-17 20:22] tchellomello commented on #31
Thanks for reporting this issue @GreenTurtwig.

I'll share my own account with a 2nd email address to see I can reproduce the issue.

Let's see if we can get this fixed.

[2017-03-17 21:49] GreenTurtwig commented on #31
Great, this is definitely a rare occurrence since people are more likely to own the device itself. I doubt all the features of the API are there, but at least there's still quite a bit of info. :cat2:

[2017-03-18 02:11] tchellomello commented on #31
@GreenTurtwig  do you have those options on your Ring app on your phone?

[2017-03-18 11:00] GreenTurtwig commented on #31
I can take a few screenshots for you.

[2017-03-18 11:06] GreenTurtwig commented on #31
![screenshot_20170318-110120](https://cloud.githubusercontent.com/assets/15905797/24071483/e98f2020-0bca-11e7-9712-c8de1c931903.png)
![screenshot_20170318-110207_01](https://cloud.githubusercontent.com/assets/15905797/24071480/e98d8350-0bca-11e7-996a-4b9ead1e6bdc.png)
![screenshot_20170318-110155](https://cloud.githubusercontent.com/assets/15905797/24071482/e98e7efe-0bca-11e7-9c67-1e7c95dce8d7.png

[2017-03-19 07:06] tchellomello commented on #31
I've shared my account with a second email and I was able to reproduce the issue.

In [9]: shared.devices
Out[9]: {'chimes': [], 'doorbells': []}

Maybe when the account is shared, we will need have a new flag to allow it searching true history. I'm investigating this issue.

[2017-03-19 07:34] tchellomello commented on #31
Guys, cool I think we  figured it out. The issue was that a shared device uses another key on the JSON dictionary and for that reason the doorbell was returning `None`.

I've started the PR https://github.com/tchellomello/python-ring-doorbell/pull/32 that has the fix, however keep in mind that only the doorbell are possible to be shared. I could not see a chime via the shared account. Am I right o

[2017-03-20 03:24] tchellomello commented on #31
Fixed by PR #32

[2017-03-20 03:24] #31 closed

[2017-03-21 18:24] GreenTurtwig commented on #31
Sorry about the late reply, I was rather busy.
But it all seems to work fine!
![screenshot_2017-03-21_18-22-45](https://cloud.githubusercontent.com/assets/15905797/24163798/7e50dbd2-0e63-11e7-85a4-cf2734e6ac6d.png)
Thanks for "fixing" this so quickly, just got to wait for HA to have the updared PIP package. :cat2:

[2017-03-21 18:36] tchellomello commented on #31
I'm working on this

[2017-04-22 00:43] Klathmon commented on #23
@anthonyangel Do you have any information on how you made use of the SIP information? I'd like to see if I can look into this but i'm having a really tough time figuring out where to start.

[2017-04-22 01:53] Klathmon commented on #23
I'm looking into this a bit more. I'm able to grab the video and audio using an SIP program (interestingly enough the stream only works without encryption... so i'm guessing that these videos are being sent across the net entirely un-encrypted...)

The stream returned from `live_streaming_json` expires in about 3 minutes for me. It seems that the `expires_in` field is in seconds, and it varies, re

[2017-04-23 13:07] jlippold commented on #23
@Klathmon What SIP client did you use? There's are some sip libraries that support WebRTC with websockets but I'm shooting in the dark because I can't even get a simple player going.

[2017-04-23 13:14] Klathmon commented on #23
I used the Blink client to do my testing. I was also looking at the WebRTC players that interface with SIP but decided to hold off as they wouldn't integrate as well with a python project like this (or home assistant).

By calling the SIP line I was able to get 2-way audio working instantly, but I had to go into Blink's Preferences and under "Accounts", switch the tab to "Media" and deselect "Encr

[2017-04-23 13:45] tchellomello commented on #23
That is very cool. Would be awesome to have this working in home assistant.

[2017-04-23 15:18] jlippold commented on #23
That blink SIP client is expensive, let me know if you get video working, if you do then it's worth looking into an open source python lib

[2017-04-23 15:22] Klathmon commented on #23
@jlippold I'm using the free/trial version and it is working well enough for now. It was also the first one I tried so others might work.

And I forgot to finish that sentence, it works with video if you uncheck using encryption.

[2017-04-23 15:28] jlippold commented on #23
I assume you're on windows maybe? the mac app isn't free

[2017-04-23 15:30] Klathmon commented on #23
Yes, windows.

It does seem to be bone-stock SIP so any client that let's you disable encryption *should* work for both audio and video.

[2017-04-23 15:46] jlippold commented on #23
yea man, this works well.. For anyone wondering the sip address, is the `sip_to` property on the json. No other config needed, just that address. The SIP address expires after 10 seconds or so

[2017-04-24 16:18] haimiko commented on #23
In the sip_to, is the is username-password@sipurl:port ?

[2017-04-24 17:18] jlippold commented on #23
There's no password needed, just that `sip_to` property value... The "security" is that the sip to address expires frequently. FWIW, I only got it working with the windows version of that blink software/

[2017-04-24 17:23] haimiko commented on #23
Guess I'll have to use a windows client.  I tried using an Android client
but i have yet to find one that will accept a passwordless SIP config.
 My goal would  be to have a python client continuously monitoring the sip
stream for motion and dings and recording as needed, so I can get off their
service.

On Mon, Apr 24, 2017 at 10:18 AM, Jed Lippold <notifications@github.com>
wrote:

[2017-04-24 18:43] jlippold commented on #23
if you can dynamically pull the sip recording, let us know. I spent a whole day trying and gave up

[2017-04-24 18:45] Klathmon commented on #23
You should be able to use any client that allows "Direct SIP dialing".

So when you setup a new SIP app, it will ask you for server, username, password, etc... You don't need any of that. You just need to be able to dial an SIP URI directly.

Other than that, you need to make sure you are using TCP not UDP (might be a setting in the options), and you need to ensure that you are not using any encry

[2017-04-24 20:53] Klathmon commented on #23
Okay, i'm finally beginning to get this figured out.

So I've been doing some reading up on SIP ([RFC 3261](http://www.rfcreader.com/#rfc3261) and [RFC 6665](http://www.rfcreader.com/#rfc6665) are the big ones used).

I also managed to capture a full session using wireshark while i was testing with the Blink SIP client.

A few things i've found out:

SIP is just an "initiation" protocol, all it do

[2017-04-24 21:00] haimiko commented on #23
Awesome news. Will have a go.  Keep us posted on your progress.

On Mon, Apr 24, 2017 at 1:53 PM, Gregory Benner <notifications@github.com>
wrote:

[2017-04-24 22:58] Klathmon commented on #23
Sorry to say but I think i'm throwing in the towel here (at least for a while).

I just don't know python well enough to be able to get anywhere, and i really don't think it will be very beneficial to this project if I spent the time to implement it in another language...

Here's some stuff I found, hopefully it's useful for someone to pick up:

* [p2p-sip](https://github.com/ikatson/p2p-sip) seem

[2017-04-25 02:40] tchellomello commented on #23
@Klathmon  you helped a lot already. Thank you so much for studying the protocol.

I want to get back to this RFE too which will be awesome to have this support.

Thanks everyone involved and let's try to get this working. I'll try to look at the libraries you pointed out too.

[2017-04-25 03:11] tchellomello opened #38 "Add support to Stick Up cameras"
Would be awesome to have support to Stick Up cameras.  I don't have one but I have plans on buying it to test it.

If anyone else wants to work on this, please you are very welcome.

[2017-04-25 10:25] Klathmon commented on #23
If you or anyone else are able to get the python plumbing started, I can muddle my way through the actual implementation of the back-and-forth and grabbing the stream data.

I actually love reverse engineering like that, it's just trying to do this in a language I haven't used for years is biting off more than I can chew.

[2017-04-30 15:34] cemeyer2 opened #40 "AttributeError: 'Ring' object has no attribute 'has_subscription'"
Using the code in the readme:

[code]
I receive the following error: `AttributeError: 'Ring' object has no attribute 'has_subscription'`

[2017-04-30 21:33] tchellomello commented on #40
@cemeyer2  Thanks for reporting this issue.

The parameter `has_subscription` has been dropped on this newer version.

I'll submit a PR to remove it from the docs.

[2017-04-30 21:37] #40 closed

[2017-05-01 15:58] superm1 opened #43 "Feature Request: adjust mechanical chime setting"
I'm using this library through home-assistant right now for motion and ding detection.  I've set up rules that allow turning on lights when motion is found by Ring with the right conditions.

What I'd really like is the ability to turn on/off the mechanical doorbell connected to my Ring so I can make rules associated with that.
There's a setting in the Android app that lets you do this, but it's b

[2017-05-01 16:54] tchellomello commented on #43
Hello @superm1, thanks for your message.

That is already possible. Check this code https://github.com/tchellomello/python-ring-doorbell/blob/dev/ring_doorbell/__init__.py#L489-L508

Please give a try and let me know if that worked for you.

[2017-05-01 17:53] superm1 commented on #43
@tchellomello oh thanks!  I had assumed the problem was this library not in HA, but it seems that HA hadn't bubbled it up.  I'll give it a shot with the library by hand and file an issue with that plugin @HA.

[2017-05-06 03:39] tchellomello commented on #43
@superm1  sounds good. I'm closing this issue for now.

[2017-05-06 03:39] #43 closed

[2017-05-30 13:55] IanMitchell77 commented on #23
I can get the alert and decode the JSON string but what did you put in the Blink SIP client to get the video? sip_to?

Many thanks in advance!

[2017-05-30 13:58] Klathmon commented on #23
I believe it's the sip_to field (going from memory here). You do need to make sure you do this to get video working in the Blink SIP client:

[2017-05-30 14:37] IanMitchell77 commented on #23
Thanks!

Did you find a Linux cli or gui that worked?

[2017-05-30 15:47] IanMitchell77 commented on #23
I can get AV with the Blink software!

However I only get a few seconds before it disconnects - does anyone have any idea on what I need to do to make it last longer?

[2017-05-31 00:40] jlippold commented on #23
you have to requery the endpoint everytime it expires to get a new sip address

[2017-05-31 06:15] IanMitchell77 commented on #23
Maybe it is that, I'll check - Thanks!

It's seems that the sip token in the JSON response  may be relevant here but I'm not experienced in SIP and don't have an idea what to do with it.

It takes me about 5 seconds to put the sip_to string in blink,  I then call and video lasts for a few seconds. I thought it expires much later than that but has anyone  automated getting the sip_to string in to b

[2017-06-08 07:35] rpavez commented on #23
Would be awesome if we could use http://www.jssip.net/ as sip client.

[2017-06-08 14:53] Klathmon commented on #23
@rpavez  have you tried it with that yet? Just from taking a quick look there doesn't seem to be any reason why you can't use that!

There is a demo at https://tryit.jssip.net/ that you can try it with any SIP URI.

[2017-06-08 15:54] rpavez commented on #23
I haven't I might try next weekend.

[2017-06-09 04:42] jlippold commented on #23
I tried. I don't think ring uses websockets, and jssip does

[2017-06-09 05:23] rpavez commented on #23
Another good option for fine grain control would be some command line sip client.
[From Stackoverflow: SIP-Client for Raspberry Pi that works from command line?

](https://stackoverflow.com/questions/29435648/sip-client-for-raspberry-pi-that-works-from-command-line)

1. Linphone: Easy to install but I fail to make phone calls
RaspberryPI: Making SIP outbound calls using linphonec or an alternative

[2017-06-09 10:00] IanMitchell77 commented on #23
I tried the jssip website and that does not work.

Has anyone had any joy with the Blink software on Linux? I'm using Ubuntu 14.04 but can switch easily to make life easier, its only a VM.

[2017-06-09 22:36] rpavez commented on #23
Found this article about building Blink from the source code for OSX https://gist.github.com/lucaspiller/8194862 maybe we can study how is implemented and extract necessary modules.

[2017-06-12 04:29] rpavez commented on #23
Using wireshark and osx ring doorbell client I was able to capture the SIP call flow, it may help someone trying to implement a custom sip connecting figure out the process.
![screen shot 2017-06-12 at 12 27 37 am](https://user-images.githubusercontent.com/555910/27019372-0845cbe4-4f06-11e7-9edc-e01794464d89.png)

[2017-06-23 10:40] cryptocake commented on #23
Has anyone tried to connect directly to the Ring doorbell? I port scanned mine and it showed 1 opened port: 1523. I'm trying to see if I can get any response from it RTP / SIP.

[2017-06-24 03:06] jlippold commented on #38
FWIW, my floodlight cam doesn't show up using this api.

Maybe the floodlight and stickup cams use the same interface

[2017-06-24 03:35] jlippold commented on #38
Ok, I confirmed the flood light is a stick up cam by snooping the /devices endpoint. My python is shitty, but I'll try to submit a pull.

[code]

[2017-06-24 03:40] tchellomello commented on #38
Awesome!! Your contribution will be very welcome!

[2017-06-24 13:05] jlippold commented on #38
https://github.com/tchellomello/python-ring-doorbell/pull/44

Its not great because it doesn't support lights or sirens on the floodlight, but I can access the saved videos.

[2017-06-24 17:14] jlippold commented on #38
Also, I built a kodi addon based on your library: https://github.com/jlippold/repository.jlippold/tree/master/plugin.video.ring_doorbell

[2017-07-26 15:19] IanMitchell77 commented on #23
Any joy cryptocake?

[2017-08-13 16:20] joeyberkovitz commented on #23
Artik cloud (https://artik.cloud/works-with/ring.html) gives access to the SIP URI, but indicates that there's no TLS on the one that it provides. Any chance we can connect through that?

[2017-08-16 18:51] asantaga opened #45 "Limit not returning what I expected"
Hi there,

Slightly confused at what the limit operation does.. I expected it to limit the number of records returned but it seams to be indicating how many records to query from the api , regardless of type.

eg.
[code]

I expected to return the last 15 "dings" but it returns nothing
if I change the limit to 1000 then I get a couple but not 5-10 or so..

[2017-08-16 23:51] asantaga commented on #23
@Klathmon  can u give step by step instructions how to get the video streaming working from within Blink?

Ive followed what you have above and get no connection.. perhaps Im going mad.. or things have changed..

[2017-08-17 10:22] asantaga commented on #23
As an interesting comment, I tried artik cloud (above from Joeyberkovitz) and whilst it did return a RTSP URL, the domainname wouldnt respond...  very strange..

[2017-08-19 04:01] tchellomello commented on #45
Hello @asantaga ,
That is a bug that we have to enhance. Basically what happens is that the first the limit is applied and then the kind. So for example, if you have a total of 100 events and just 5 are `ding` and let's say the dings are the latest 5 events, it will just show if you do limit=100, kind='ding'.
I think we can modify the API to select all events and keep searching until the limit + k

[2017-08-27 16:47] zzsmith commented on #38
Turning floodlights on/off (PUT w/no data)

https://api.ring.com/clients_api/doorbots/{account_id}/floodlight_light_on?api_version=9&auth_token={auth_token}

https://api.ring.com/clients_api/doorbots/{account_id}/floodlight_light_off?api_version=9&auth_token={auth_token}

[2017-08-27 22:42] asantaga commented on #45
@tchellomello pleasure, yeah the fix would be to keep executing the query until the number of "kind" are found, OR a date limit reached..  You obviously dont want to keep querying events for a long time ..
thanks

[2017-09-03 15:24] Sfinx commented on #23
To be able to get the video stream always you must send the custom INFO header just after ACK (connect) from their side. The INFO packet must look like:

[code]

And just send BYE to close the SIP session to the doorbell

[2017-09-05 20:45] jlippold commented on #23
It seems like we have all the details, but we dont have anyone who can write a SIP client in python

[2017-09-05 23:40] Klathmon commented on #23
So I kind of abandoned this issue for a while, but I have done a bit more research..

I don't think Ring is going to let us stream from their servers for any extended amount of time. In my testing with some stuff "outside" of the things being explored in this issue, I found that even the actual apps from Ring will disable video if you try to keep it streaming for a few hours. Not to mention that t

[2017-09-10 13:11] jlippold commented on #38
@zzsmith I can't get that PUT for floodlights to work, tried it in multiple ways. Where'd you get this info?

[2017-09-10 17:19] zzsmith commented on #38
Ended up installing the android developer studio and using "charles proxy" to intercept the https requests generated by the ring app.  Need to use Marshmellow android firmware in the emulator though, the newer ones are more stringent on SSL.

I just checked it again and it looks like the same request:
https://api.ring.com/clients_api/doorbots/{id}/floodlight_light_on?api_version=9&auth_token={auth

[2017-09-11 00:12] jlippold commented on #38
maybe it's not `PUT`? I keep trying combo's and failing

[2017-09-11 02:29] jlippold commented on #38
Ugh it works fine, sorry @zzsmith ... the node js library i was using sent a silly hardware id https://github.com/davglass/doorbot/blob/master/doorbot.js#L141 that broke everything

[2017-09-15 06:03] vickyg3 commented on #28
hi, any idea on what needs to be done to get this working? i'd be happy to contribute code. is the only way to find out what parameters need to be passed is to reverse engineer what my phone does in the ring app when playing the test_sound?

[2017-09-19 06:01] tchellomello commented on #28
Hello @vickyg3, I think you can try to use the `mitmproxy` on your phone to see how that interact with your phone.
Please let me know if you need any assistance.

[2017-09-27 17:42] keeth opened #47 "How to get RSSI?"
This module is great thank you! I am using it to monitor the health of my doorbell with MRTG :)

I see the battery level is there but I don't see the RSSI which the app shows me.  Anyone know how to get that?

I followed the link to the post about reverse-engineering the protocol but that page is 404 now unfortunately.

Thanks!

[2017-09-29 00:23] zzsmith commented on #47
GET	https://api.ring.com/clients_api/doorbots/{deviceid}/health?api_version=9&auth_token={auth_token}

JSON Response:
{
	"device_health": {
		"id": 123456,
		"wifi_name": "ssid",
		"battery_percentage": 100,
		"battery_percentage_category": "very_good",
		"battery_voltage": null,
		"battery_voltage_category": null,
		"latest_signal_strength": -37,
		"latest_signal_category": "good",
		"average_sig

[2017-09-29 04:19] tchellomello commented on #47
Nice... let's implement this!

[2017-09-29 05:41] tchellomello commented on #47
@zzsmith  Thanks for posting the URL. Do you happen to know the URL for the chimes?

[2017-09-29 05:43] tchellomello opened #49 "Fix __init__ methods"
Some classes don't need a full __init__ overload.  We can refactor the code to simply it.

[2017-09-29 10:58] zzsmith commented on #47
Don't have a chime pro but normal chime is:

GET https://api.ring.com/clients_api/chimes/{id}/linked_doorbots?api_version=9&auth_token={authtoken}

{
	"linked_doorbots": [{
		"id": 1234,
		"description": "Cam1",
		"device_id": "5678",
		"kind": "hp_cam_v1",
		"call_alerts": false,
		"motion_alerts": false,
		"owner": {
			"id": 1111,
			"first_name": "bob",
			"last_name": "bob",
			"email": "bob@

[2017-09-29 21:34] tchellomello commented on #47
Great info @zzsmith  Thank you!

[2017-09-29 21:35] tchellomello commented on #47
@zzsmith do you happen to have a stickup cam to know which URL is used to get the health information?

[2017-09-30 00:14] zzsmith commented on #47
Don't have a stickup cam but here is for the floodlight which might be the same:

GET https://api.ring.com/clients_api/doorbots/{id}/health?api_version=9&auth_token={auth_token}

[2017-09-30 03:35] tchellomello opened #51 "Fix Unit Tests"
Unittests are failing.. We need to investigate and fix it

[2017-09-30 04:31] #49 closed

[2017-09-30 07:42] #51 closed

[2017-09-30 08:17] #47 closed

[2017-09-30 08:19] tchellomello commented on #47
@zzsmith @keeth  guys, functionality implemented. I'll publish a new version tomorrow since I want to fix one more bug to the newer version.
Thank you for your assistance!!

[2017-09-30 08:30] tchellomello opened #54 "Split source code into different files"
Split source code into different files. Ideally the each module should have its own file.

RingGeneric - generic.py
RingChime - chime.py
RingDoorBell - doorbell.py
RingStickUpCam - stickup_cam.py

[2017-10-02 18:46] jer78 commented on #23
Personally I’d just like a feature that captures the last motion image and updates Home Assistant. If tapping on the image gets the live view, that would be cool too, or even just play the last motion recorded is fine for my purposes.

My ultimate request would be for Home Assistant to send the video to my TV as a PIP video feed when there’s motion or a doorbell ring. But I think that’s a ways off

[2017-10-05 04:07] #54 closed

[2017-10-05 06:28] tchellomello commented on #23
@jer78  Please take a look at https://community.home-assistant.io/t/ring-doorbell/7943/237

I'm testing a prototype to playback the video on HASS. It would be awesome if you test it.

[2017-10-05 18:39] jlippold commented on #23
@tchellomello your gist is for recorded videos, not live viewing correct?

[2017-10-05 19:17] tchellomello commented on #23
@jlippold  correct!! We are not there yet for the live videos...

[2017-10-16 08:48] tchellomello commented on #45
@asantaga  I've published the PR #56  that fixes this issue.

I would appreciate if you could test or provide any feedbacks.

[2017-10-17 04:01] tchellomello commented on #45
Implemented by PR #56

[2017-10-17 04:01] #45 closed

[2017-10-17 17:07] subnetangel commented on #38
I also have a Ring Floodlight that I would like to test. Looks like you guys got this going, I am pretty new to Python so not sure how to test it directly. @tchellomello I would use this via homeassistant any tips on testing this?

[2017-10-17 17:47] subnetangel opened #59 "Add Floodlight and Stickupcam support to HomeAssistant"
@tchellomello Ok I can validate that the Library can see the Flood light cam as per my tests below:

[code]
 This means it sees my Flood Light cam as a Stickup cam, and I saw that in issue: https://github.com/tchellomello/python-ring-doorbell/issues/38

They were able to get the data for the Flood lights and Siren working.

What else can I do to help test on HA?

PS> This is the python code I used

[2017-10-17 18:22] jsetton commented on #38
@subnetangel I just submitted a PR to add support for the floodlight lights and siren. Would you be willing to test the control of the siren? That's the only part I couldn't test properly without disturbing my neighbors.

You can test the changes I made using my forked repository:
`pip install git+https://github.com/jsetton/python-ring-doorbell`

To test the siren:
[code]

[2017-10-17 18:58] subnetangel commented on #38
@jsetton It works!!!

[2017-10-17 19:18] tchellomello commented on #38
Awesome guys!! Thanks for your contribution @jsetton and for testing @subnetangel.
I don't have a stick up camera or a floodlight, but since you guys tested and I'm going to merge it and publish a new package on pypi so then you can submit your PR to HA as well.

Good teamwork guys!!

Thanks!!

[2017-10-17 19:20] tchellomello commented on #59
@subnetangel  is this issue addressed by the PR #58 ?

[2017-10-17 19:23] #38 closed

[2017-10-22 08:07] tchellomello commented on #59
stickup camera support has been added to Hass. please give a try on the dev branch to see if works for.you

[2017-10-22 08:08] tchellomello commented on #59
I'm closing this for now. feel free to report if you hit any problems. Thank you

[2017-10-22 08:09] #59 closed

[2017-10-23 13:55] NicolaRusso opened #61 "Push Notification Token"
Hi!
I'm not sure the push notification token works.. I've tried to put an url (a servlet) and I got 204 after the PUT request. However I don't receive any call to my servlet when the doorbot is ringing.

Am I missing something?

Thanks

[2017-10-24 00:10] untotren commented on #23
@klathmon live video api has been figured out already and documented:

http://www.kidder.io/2017/07/04/ring-doorbell-api/

[2017-10-27 17:47] NicolaRusso commented on #61
Here the request made after getting token:

PUT /clients_api/device HTTP/1.1
Host: api.ring.com
User-Agent: Dalvik/1.6.0 (Linux; Android 4.4.4; Build/KTU84Q)
Accept-Encoding: gzip, deflate
Cache-Control: no-cache
Content-Type: application/x-www-form-urlencoded

api_version=9&device%5Bmetadata%5D%5Bdevice_model%5D=KWM&device%5Bmetadata%5D%5Bdevice_name%5D=Python&device%5Bmetadata%5D%5Bresolution%5D

[2017-10-28 12:59] stephenmhall opened #62 "fix my Python ignorance"
I thought I was pretty oh-fey on Python matters but I cannot work out how to poll the Ring service for an activation. I have compared your code with the php original and it has a poll() function where you have a check_alerts() function but I can get nothing back. I have got the other parts of your code working and ended up with this test code.

seems the insert code doesn't like python.

`
from ri

[2017-10-30 03:09] troopermax opened #63 "Doorbell history does not return all events"
When going through the history of events on a doorbell, much as in the basic examples, it doesn't seem to get all the events - I'm guessing the request that is being made for these has a hard limit/maximum (I did try setting the limit parameter to be really high), and it will probably take multiple requests to truly get all the events. Not sure what additional parameters to the URL will be necessa

[2017-10-30 03:41] tchellomello commented on #63
@troopermax  thank you for your post. Could you please provide a code snippet on how are you trying to get the history?

[2017-10-30 03:49] tchellomello commented on #62
@stephenmhall thanks for your post. I'm going to give a try tomorrow and I'll let you now.

[2017-10-31 02:28] troopermax commented on #63
Pretty much following the basic instructions for the most part:

That part all checked out

[code]
Yet I do have more than 100 events - when browsing them on the Ring website, I have to scroll down to trigger it to load more events. The app behaves similarly. So I'm guessing there are additional parameters used to select different sets of events, but I don't know that I'll be able to take a closer

[2017-11-03 16:32] tchellomello opened #64 "Traceback if req is None"
Report by: @lunatix https://community.home-assistant.io/t/ring-doorbell/7943/300

[code]

[2017-11-03 16:57] #64 closed

[2017-11-07 05:15] tchellomello opened #67 "Change to logger.debug when calling the history() method"
https://github.com/tchellomello/python-ring-doorbell/blob/master/ring_doorbell/doorbot.py#L212

issue: https://community.home-assistant.io/t/ring-doorbell/7943/332

[2017-11-07 05:26] #67 closed

[2017-11-12 18:31] troopermax commented on #63
Ripping a bit from the Ring code and your code, I was able to download all my history with this script:

[code]
'older_than' is the key parameter here, and I was just giving it the id of the last history event fetched to get more - I'll leave it up to you if/how you want to incorporate this into your API.

[2017-11-13 18:46] tchellomello commented on #63
@troopermax  that looks good. I'll incorporate that into the library and create a session for scripts and place your script there.

I'll work on this tonight!

Thanks!!

[2017-11-13 22:35] dbrand666 commented on #62
The simple answer is change the sleep(5) to sleep(30) (you may find a smaller value but not smaller enough). There seems to be some caching and rate limiting going on. If you keep polling (try history(), eg) you'll keep getting the cached result. You need to sleep for a while before a request will get updated data.

I was hoping I'd be able to poll the status in something near enough to realtime a

[2017-11-14 05:50] #63 closed

[2017-11-14 05:52] tchellomello commented on #62
@dbrand666  yes, that is a good point. We need to look into the subscriber and study a way to get updates from it.

[2017-11-14 05:54] tchellomello commented on #61
@NicolaRusso  the current support to push tokens are not 100% functional and they need some work.

They are because during the initial study when reversing engineering it was part of the headers, but we never really put it into use.

[2017-11-14 20:44] stephenmhall commented on #62
Here is a question for any Android developers who might be reading, if we install the ring app on the virtual Android phone within Android Studio can you monitor the internal communications flowing round the phone? Or are the apps sandboxed and you can only monitor apps you create? I would suspect that the ring back end is pushing out activations to your account rather than all the devices you hav

[2017-11-21 00:14] dbrand666 commented on #62
I took a look at the Android app's communication with ring.com. Sorry to say that all it's doing is polling the https://api.ring.com/clients_api/dings/active?api_version=9 endpoint every 10 seconds. This is not what I was hoping to see.

So @stephenmhall, just increase the sleep to 10 seconds and it should work for you too.

This also explains why it takes so long for the Ring app to respond to an

[2017-11-21 17:31] stephenmhall commented on #62
Pretty disappointing that it all works on polling and not a push service.

[2017-11-21 22:59] tchellomello opened #71 "Add a controller to only call download_url() or download_video() if account has subscription"
Add a controller to only call download_url() or download_video() if account has subscription

by @arsaboo
Looks like Ring is blocking the camera component when there is no cloud subscription. In such cases, the Ring camera component shows Image not available. It will nice if the Ring camera can check for subscription and only load if there is a subscription. If there is no subscription, it should

[2017-11-21 23:07] tchellomello commented on #71
Just testing an account that has subscription and other does not we can see the problem:

[code]

[2017-11-21 23:24] #71 closed

[2017-11-29 08:25] tchellomello opened #74 "Create a generic update() call which updates all devices under top-level Ring object"
Create a generic update() call which updates all devices under top-level Ring object

[2017-11-29 09:19] #74 closed

[2017-11-29 19:13] grayaii opened #77 "Feature Request: Delete a Video"
It would be awesome if there was a way to delete a video via the API.

[2017-12-03 19:38] DiljotSG opened #78 "Displaying the last video capture URL no longer works"
Attempting to display the last video capture URL as according to the documentation simply displays the following error message:

No handlers could be found for logger "ring_doorbell.doorbot"
False

I suspect that Ring has modified something on their end with the launch of their new products. Please advise.

[2017-12-04 05:51] tchellomello commented on #78
Hello @DiljotSG,
   Yes, Ring is now enforcing a premium subscription to be able to access the video recordings.
   You are getting the "No handlers.." error because you don't have or did not initiate a logger facility.
   A recent update on `python-ring-doorbell` library (https://github.com/tchellomello/python-ring-doorbell/commit/30a2f0c60479a780beae930742fb538dbb570f03)  introduced the ability

[2017-12-04 05:54] tchellomello commented on #77
@grayaii  It seems to be doable.

I've added it to the sprint in an attempt to get implemented soon.

Thanks for your suggestion!

[2017-12-21 21:15] andrewkress opened #79 "Should session cache be saved if save session is set to False?"
I get an error trying to use this in an aws lambda call because it is attempting to save to cache.  Is there any reason it should not be moved into the if statement above so that it doesn't attempt to save if the session will not be reused?

`__init__.py on line 135`
`_save_cache(self.cache, self.cache_file)`

[2017-12-29 07:47] tchellomello commented on #79
@andrewkress  I think we could move it to an if statement without any problems.

what kind of error are you getting?

[2017-12-29 15:04] andrewkress commented on #79
I get this error:
[code]

I updated this (in __init__.py lines 130-134):
[code]

To this and it works for my needs:
[code]

[2018-01-03 17:41] markuzzi opened #80 "Using WebHooks for check_alerts()?"
Hi,

I was not sure from looking at the code. I think check_alerts() is polling the ring.com api each time, correct? Is there a mechanism for using web hooks or the like with the ring.com API to decrease traffic?

Best, Markus

[2018-01-09 05:21] tchellomello commented on #80
Hello @markuzzi,
    Thanks for your post.  We already had this discussion on previously issue and nobody found any method or way to get pushed notifications.

     Please if you find a way we would be more than happy to hear about it.

Thanks!

[2018-01-09 05:22] tchellomello commented on #78
Closing as the questions has been addressed.

[2018-01-09 05:22] #78 closed

[2018-01-09 05:22] tchellomello commented on #62
Closing as the questions has been addressed.

[2018-01-09 05:22] #62 closed

[2018-01-09 05:23] tchellomello commented on #79
@andrewkress  could please submit a PR for this change?

[2018-01-16 11:09] 10der opened #82 "what mean this error?"
2018-01-16 12:17:08,979 ERROR    No handlers could be found for logger "ring_doorbell"
2018-01-16 12:17:08,981 ERROR    Traceback (most recent call last):
2018-01-16 12:17:08,982 ERROR      File "/home/pi/ring/myring.py", line 65, in <module>

2018-01-16 12:17:08,984 ERROR      File "/usr/local/lib/python2.7/dist-packages/ring_doorbell/__init__.py", line 53, in __init__
2018-01-16 12:17:08,986 ERR

[2018-01-16 13:11] 10der commented on #82
no internet access.
thank you. closed!

[2018-01-16 13:11] #82 closed

[2018-01-30 17:03] 10der opened #83 "last_recording_id"
Hi!

maybe we should add check like
if event["recording"]["status"] == "ready" ?

for example, doorbell has motion.
now we should be waiting for the complete video and after - we ready to process this video

raw (schematically) code:

[code]

[2018-02-09 16:15] Vitiate commented on #80
It might be easier to setup a traffic sniffer and monitor for events on the local network. I would still like to figure out a way to play the video stream on my webos enabled tv. I can already force the tv to a url.

[2018-02-11 14:22] idvorkin opened #84 "Returning more then the first hundred events"
I'm using doorbell.history, but it limits to 100 (I'm guessing a ring API issue). Is there a way to apply a paging ability to get more events?

[code]

[2018-02-17 07:56] untotren commented on #23
@Klathmon were you able to make any progress on live video with the documented API?

http://www.kidder.io/2017/07/04/ring-doorbell-api/

[2018-03-09 17:17] dooz127 opened #85 "Configurable polling interval/scheduled update interval"
Hi Marcello--Thank you so much for putting this package together. It works great but I was wondering if there was a way to configure either the polling interval or the scheduled update interval? My homeassistant log continuously warns me that it's taking longer to update ring than the scheduled update interval of 5 seconds. I get about 30 of these warnings or so for the first two minutes, so it mi

[2018-03-21 19:40] jplandry908 commented on #23
Does anyone know if live_streaming_json still works? Every time I try to call it, it always returns 'None'. I have also tried triggering motion on the camera prior to calling it.

[2018-03-22 17:21] Klathmon commented on #23
@untotren I haven't tried it yet. I'm in the process of moving and ended up accidentally shipping my ring to be held at storage at my new location with a lot of other stuff so I haven't had it to play with for a while.

Come April/May I may have more time to really dive into this once we are in the new house and settled in!

[2018-03-26 23:28] egeste commented on #23
I just read through the doc. It looks like what's happening is:
1. The client application needs to send a request to the ring API to indicate that a user is awaiting a live video feed.
1. At some point within 17 seconds, the doorbell will poll the ring API to see if anyone requested a live video feed, thus returning a `200 OK` response.
1. Upon the `200 OK` response, the doorbell will perform a PO

[2018-04-01 02:28] knlklabacka commented on #77
I would be interested in the delete feature also!

[2018-04-10 14:39] GreenZapdos commented on #23
Has anyone been able to connect to the sip stream recently? Can you tell us what client you used to view the stream? It looks like the `doorbell.live_streaming_json` isn't working right now. `doorbell._ring.query(("https://api.ring.com/clients_api/dings/active?api_version=9&burst=1"), method='GET', raw=True)` works though and I was able to get a response from that. I put the value from `sip_to` in

[2018-05-02 17:10] davidsouza opened #86 "Getting TypeError"
value = int(self._attrs.get('battery_life'))
TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

[2018-05-03 04:37] davidsouza commented on #86
This may be just an issue with one of my spot light cams... but

self._attrs.get('battery_life') is returning None

I have 2 spot light cameras both with good battery life (Mobile app shows about 60% for both) but one is returning None... not sure why.

[2018-05-10 00:19] shadowbq opened #87 "FR: Add doorbot motion_snooze and chime do_not_disturb functions"
## Set a 3 hour chime 'do_not_disturb'..
[code]

## Disable the motion snooze..

[code]

## Set a 15 minute doorbell 'motion_snooze'..

[code]

## Clear doorbell 'motion_snooze'..

[code]

[2018-05-16 03:54] tchellomello commented on #80
Closing this issue for now in favor of #62

[2018-05-16 03:54] #80 closed

[2018-05-16 04:05] #86 closed

[2018-05-16 04:07] tchellomello commented on #85
@dooz127 let's file an issue at @homeassistant tracker so then we can enable this feature on the component directly.  Please let me know when you issued this so then we can work together.
Thanks for your kind words.

[2018-05-16 04:07] #85 closed

[2018-05-16 04:09] tchellomello commented on #83
Hello @10der, thanks for your comment.

Could you elaborate what kind of issue you are hitting?

Thanks
mmello

[2018-05-16 04:10] tchellomello commented on #61
Closing it for now

[2018-05-16 04:10] #61 closed

[2018-05-16 04:15] tchellomello commented on #84
@idvorkin  yes, that is a limit on the ring's doorbell API, however, you can workaround this issue.

You can use the doorbell.history(limit=100, older_than=<oldest_object_returned_from_first_limit>).

[code]

That would do the trick.
See also http://python-ring-doorbell.readthedocs.io/#ring_doorbell.doorbot.RingDoorBell.history

I'm closing this for now.  Please reopen if does not work.

Thanks.

[2018-05-16 04:15] #84 closed

[2018-05-24 23:53] darkstar939 opened #90 "history arguement kind: ding, motion, live are not defined"
Here is output where kind=none

`[{u'kind': u'ding', u'vehicle_present': None, u'person_present': None, u'created_at': datetime.datetime(2018, 5, 24, 22, 39, 31, tzinfo=<UTC>), u'favorite': False, u'animal_present': None, u'events': [], u'recording': {u'status': u'ready'}, u'answered': False, u'id': 655924564564574686, u'snapshot_url': u''}]`

Here is output where kind is other than none:

 myring

[2018-05-25 00:34] darkstar939 commented on #90
I figure it out, it requires the kind=u'ding'

however it appears that ring is not running the machine learning on there video yet because people and vehicles are not returning values other than None.

[2018-05-25 00:49] darkstar939 commented on #90
in case anyone else was wondering:

...     print('person_present     %s' % event['person_present'])
...
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_present     None
person_

[2018-05-25 02:03] darkstar939 commented on #38
siren works great, what is the command for floodlight?

[2018-05-25 02:38] mrwhale opened #91 "[bug] Battery life shows 100 when its not"
`Great` API here, been following for a while and now have finally got around to attempting to integrate ring into my homeautomation. I am printing the battery life for a ring doorbell, and using the `battery_life` method its printing 100, however when I dump the Ring doorbell object, it shows the correct battery life within there

[code]

[2018-05-25 02:49] mrwhale commented on #91
to add - this shows the correct percentage

[code]

[2018-05-25 07:55] darkstar939 commented on #38
disregard I wrote my own script using the api calls @zzsmith posted

[2018-05-26 07:36] tchellomello commented on #91
Hello @mrwhale,

  Thanks for reporting this issue. Interesting that I tried to reproduce the same steps you did, but I got different values.

[code]

For the `Ring chimes`, that attribute was already being used https://github.com/tchellomello/python-ring-doorbell/blob/master/ring_doorbell/chime.py#L23-L26

I think I'm getting 4022 because my door bell is connected directly to the power and not to

[2018-05-26 07:41] tchellomello commented on #90
Hello @darkstar939,
   I'm happy that you figured it out. Yes, the `person_present` and `animal_present` and `vehicle_present` are new attributes and are not yet incorporated in the `history()` method.

   That is a nice feature to have and let's see if we can implement a future version. :+1:

mmello

[2018-05-26 07:48] darkstar939 commented on #90
@tchellomello Do you know if its possible to enable advanced features and what they do?

`           u'features': {u'advanced_motion_enabled': False,
                          u'motion_message_enabled': False,
                          u'motions_enabled': True,
                          u'night_vision_enabled': False,
                          u'people_only_enabled': False,

[2018-05-26 12:46] mrwhale commented on #91
Thanks @tchellomello !

My reasoning behind initialising the RingDoorBell method directly was because I was getting unexpected results from `myring.doorbells` too, but here are the results of that too, still getting `100` for battery life

[code]

Anything I can try to help troubleshoot?

[2018-05-26 18:46] tchellomello commented on #91
It seems the error is because your attribute is being reported as a string instead of an integer.

[code]

To fix, basically let's cast that value:

[code]

I'll submit a PR to address this problem.

[2018-05-26 18:58] tchellomello commented on #91
@mrwhale  PR created. Could you please check if that fixes the issue?

[2018-05-28 04:07] #79 closed

[2018-05-28 04:27] mrwhale commented on #91
seems I commented in the PR instead of here, but this has been solved in ☝️

[2018-05-28 04:28] #91 closed

[2018-05-29 01:20] mrwhale opened #93 "Check_alerts() function not working"
Hopefully I'm just doing it wrong, but the `check_alerts()` function for the doorbell is not working for me

I have set up a ~7s loop, to check that function and get the alert details when one happens

[code]

This runs and continues to print `None` and the battery life, after creating a motion event while this loop is running i get nothing

[2018-05-29 22:49] asantaga commented on #93
this works for me, but what it does is simply tell u if a Ding or a Motion event was triggered last.. Checkout my code https://github.com/asantaga/alexashowRing/blob/master/alexaringdoor.py

[2018-05-29 23:14] mrwhale commented on #93
Thanks @asantaga looks like its just me then! I'll grab that snippet out of your code base there and try that

[2018-05-31 21:28] davglass opened #94 "Authentication issues"
Hey there! Ring just updated their authentication mechanism to be fully oAuth. I've already updated my nodejs based module and the details are here so you can patch yours too:

https://github.com/davglass/doorbot/issues/16#issuecomment-393551422

[2018-06-05 04:52] tchellomello commented on #94
I'm getting a lot of emails from people reporting this problem. I'm going to tackle this issue this weekend.

[2018-06-06 00:04] darkstar939 opened #95 "last_ding unknown"
Does last_ding as a monitored condition work?

[2018-06-07 14:41] tchellomello commented on #95
Closed as duplicated of #94

[2018-06-07 14:41] #95 closed

[2018-06-07 14:48] tchellomello commented on #94
[code]

[2018-06-11 06:01] tchellomello commented on #94
Guys, could you check the PR #96 to see if that will fix the issue? Thanks!

[2018-06-11 22:04] rbrtio commented on #94
I applied the patches on my homeassistant installation manually and it works properly again.  Thanks!

[2018-06-14 22:31] Kung-Foo-Kamel opened #97 "Ring Team Email Communication"
**Email from Ring Team** "Your subscription payment for $30.00 has failed for the second time. We'll try charging your account again in 3 days. To avoid service interruptions, please visit your account page"

I visit this page, no way to cancel anything????

I had already removed payment details long ago

No help on the website???

No email contact anywhere easy to find???

**So I replied to this

[2018-06-15 04:28] #97 closed

[2018-06-15 22:19] #94 closed

[2018-06-24 18:12] JesseWebDotCom opened #101 "FR: Chime play custom tone"
I'd likt to be able to make specific chimes, and all chimes in a home as well, play a custom tone.  This would enable home assistant to play certain tone for certain automations (ex. left garage open) while not affecting your existing tones for doorbell motion and doorbell ring.

[2018-06-25 21:48] vickyg3 commented on #101
Just documenting whatever i remembered about this so that it may be useful for whoever is going to be working on this. :)

@tchellomello requested a similar feature in PR #46 [1]. But the way i remember it, i don't think there's a simple way to accomplish this. The way ring app worked was this:
1) Send a request to the ring servers to change the chime tone to a new one.
2) Poll for status updates

[2018-07-07 21:04] ProfoundDonut opened #102 "Issue - live_streaming_json returns "none""
I tried to setup the SIP stream using the function `live_streaming_json`, but when I try and call it using both my ring doorbell, and my ring pro doorbell, it returns `None`.

[2018-07-08 01:54] tchellomello commented on #102
Hello @ProfoundDonut , yes that is a known issue and you can read more about it at #23.

Closing as dups of #23

[2018-07-08 01:54] #102 closed

[2018-08-13 10:48] msteenhu commented on #87
I am trying to implement this: https://github.com/msteenhu/python-ring-doorbell/commit/288d384f98c02dcc4f09d04666c96a84f86d13b0

Didn't seem to work during first tests. Will debug/test further when I have time.

[2018-08-13 18:36] msteenhu commented on #87
It works but i hoped to snooze motion alerts on the doorbell itself. Not possible apparently...

[2018-08-29 07:04] beklever opened #103 "Siren on Ring spotlight cam (battery)"
Hi there,
I cannot get the siren to work on the spotlight cam. If I use the siren like in the scripts for the floodlight, everything stays silent.
When I use the lights however, the lights turn on. Is there something different between the floodlight and spotlight camera's?

Thanks for any help, love your work!

[2018-09-18 22:51] paulmaunders commented on #78
I just got this same warning on a ring camera with a subscription, however it didn't prevent me from downloading a selection of recent recordings. It seemed to appear when I increased the limit from 10 to 100.

[2018-09-19 08:46] paulmaunders commented on #78
It looks like this my error was caused because the output file already exists, however as @tchellomello described, I had not initiated a logger facility so was getting the generic logger error. Adding the following code will set up a logger, so you can see the real underlying error.
[code]

[2018-10-05 02:50] adam-fox opened #104 "Feature Request: Ring Security System Support"
Would love to see support for the new Ring Security System (https://shop.ring.com/pages/security-system). Not sure if this is helpful but I came across this in my searching: https://github.com/davglass/doorbot/issues/26

Thanks for all the work you’ve done on this and all the Home Assistant components.

[2018-10-05 03:42] HipsterZipster commented on #23
What's the current status on this issue? I'm interested in writing something for a Synology, javascript preferably

[2018-10-07 17:16] tchellomello commented on #104
Hello @adam-fox,

    I don't have plans to implement it myself as I don't own a Ring Security System but any contributions to add support to it would be very welcome.

    Thank you for your kind words. :+1:

mmello

[2018-10-25 15:26] nemr-maher opened #105 "How can I connect to the SIP Session"
Thanks for this great module.

How can I connect to the SIP session with the provided SIP details?

[2018-10-25 18:37] tchellomello commented on #105
Hello @nemr-maher,

Thanks for your kind words.

Ring.com don't offer a public API and all the contributors in this project have tried to implement a hack to connect with the SIP session without very much success.

You can see more details at https://github.com/tchellomello/python-ring-doorbell/issues/23 and please feel free to add any contributions or information you might find to get this workin

[2018-10-25 18:37] #105 closed

[2018-11-12 21:45] jonFisher99 commented on #23
I've avidly followed all the strategies discussed on here. It seems using the Artik Cloud to capture events and provide the SIP and RTSP URI's will be the optimal route to getting the live video feed. However, I'm finding A) The RTSP URI provided via Artik just doesn't work at all B) The SIP_TO parameter can be used with Blink SIP client, however only the audio NOT the video feed comes through, ev

[2018-11-27 17:56] litobro commented on #104
I'm receiving my Ring Alarm system in the next few days in the mail. I'm willing to take a stab at trying to put in a simple implementation. Is there any best practices or gotchas we should be aware about?

I'll admit my interest in getting this working is in using this as a component for home-assistant.

[2018-11-27 18:00] joshfokis commented on #104
I am also working on this although having issues monitoring the traffic with the MITM proxy. I it works under the same call for the doorbots/{id}/status. I did get the id from using the query call.

[2018-11-28 13:38] litobro commented on #104
My quick attempt to MITM proxy my Ring app shows connection errors - indicative that SSL pinning is being used to prevent intercepting traffic. I'm on an Android P device running the latest version of the app. This would explain why @joshfokis is having difficulty intercepting the traffic.

I don't currently have access to a rooted device to bypass the pinning or the ability to recompile the app w

[2018-11-28 14:00] shadowbq commented on #104
MITM worked originally with the RING app, they only recently in the past few months pinned the SSL certificate. I was able to MITM to identify the snooze/quiet etc. functions when they added them

[2018-11-28 18:00] joshfokis commented on #104
I was hoping to be consistent and use the API calls and not the websockets that have been used. Only thing I have found out is when calling ring_devices it lists it under base_stations but you get the health call from doorbots but you cannot call history from it.

[2018-11-28 18:35] litobro commented on #104
I agree, I had hoped to use the API calls as well, though based on inspecting the traffic in the web browser, and making some HTTP requests to the API, I can only get the same information as you. Based on the behaviour of the app (it takes additional time to 'connect' to the base station and load), it looks like the new app may be using websockets for that portion as well. Are we sure that there's

[2018-11-29 00:17] litobro commented on #104
After some experimentation, the authentication from the API is not sufficient authentication for the websockets. This is irritating as it will require quite a substantive rewrite to implement some of the websockets authentication and other code.

[2018-11-29 18:20] toscano commented on #104
I was going to take a look myself. Perhaps this helps with the auth issues [homespun/ring-alarm](https://github.com/homespun/ring-alarm)

[2018-12-26 20:40] aLTeReGo-SWI commented on #59
I've added my Ring Floodlight to HA, and the camera and sensors appear as expected. There are however, no switches or lights that appear in HA to control the flood lights or siren. Is there something I'm missing?

[2019-01-05 15:41] budachst commented on #83
I'd saym he's been hitting the same issue, as I have. Once there's an alarm of motion or ring, the last_recording_fetched is always of the previous alarm, since the new video hasn't been made available yet. Further more, querying the print(doorbell.recording_url(doorbell.last_recording_id)), as statet in the examples always generated a new random URL, so one can't know, if the currently fetched UR

[2019-01-05 23:48] dshokouhi commented on #104
I found this as well, maybe it will be helpful?

https://github.com/acolytec3/ring-alarm-HA-plugin

[2019-01-08 23:11] problemss opened #111 "Not Receiving Notifications"
I see some comments from over a year ago about notifications not working. I am trying now by setting `persist_token=True, push_token_notify_url="http://mysite.com"` when I setup my Ring object. I am not receiving anything on the site I have setup. If this is working, what am I doing wrong? If it is not working, can this be an enhancement request?

For now I will experiment with IFTTT to create the

[2019-01-24 19:34] jsetton opened #112 "Feature Request: Add a model property to identify the different products"
With all the new products that Ring has added in the last year, it would be nice if we could catalog them and add some logic to identify their model. This is especially a need for the `stickup_cam` family umbrella and their different power source. For example, the `battery_life` property on a Floodlight cam is returning some value while that product is AC powered only and no other device property

[2019-01-26 08:50] Doudy commented on #23
I've also avidly followed all the strategies discussed on here.
But I am a little (much) lost.
What to do to see this famous video live?
What interests me is the live vision.
Is there a solution?
Thanks for your help.

[2019-01-28 09:17] Niek commented on #23
Leaving this here, since the page itself is no longer available: https://web.archive.org/web/20180403003637/http://www.kidder.io/2017/07/04/ring-doorbell-api/

[2019-01-30 18:41] jsetton commented on #112
@evanjd @steveww I noticed you submitted PRs recently relevant to some of the devices I am missing data above. Any chance you could provide that information? I think with your input I would be able to determine if this feature can be implemented or not. Thanks.

[2019-01-31 23:21] evanjd commented on #112
My Spotlight Cam battery's kind value is `stickup_cam_v4`. Where did you get the `ring_cam_setup_flow` prop from?

I wonder if we can extract these values from the official apps...

[2019-02-01 00:32] jsetton commented on #112
Thanks for your input. The `ring_cam_setup_flow` property should appear in the device object response at least it shows under my floodlight cam. Maybe there is another property on your end that might identify your device as a spotlight cam. If not, I guess looking for the `led_status` property would allow to differentiate a spotlight cam from stickup cam. In regards to the power source, I would ne

[2019-02-01 00:55] evanjd commented on #112
I had a dig through the APK, I think the `kind` values for the remaining devices in your list are:

- Doorbell Pro: `lpd_v1`
- Doorbell Pro 2: `lpd_v2`
- Doorbell Elite: `jbox_v1`
- Stickup Cam v1: `stickup_cam_v3`
- Stickup Cam v2 wired: `stickup_cam_elite`
- Stickup Cam v2 wireless: `stickup_cam_lunar`

This roughly lines up with the images assigned to the CSS classes of the same names I pulled

[2019-02-01 08:35] evanjd commented on #112
Nice! I don't see the `ring_cam_setup_flow` prop set anywhere in my device's properties. If it helps, here's a dump of all my device properties (anonymized): https://pastebin.com/Z36jJ9a2

[2019-02-01 08:52] jsetton commented on #112
Ok thanks for confirming. Although in the app code it seems that the `ring_cam_setup_flow` should be set for the Spotlight Cam Battery model, it is only checked against the other model (solar) to differentiate the two products part of `stickup_cam_v4`. Same behavior between the Spotlight Cam Mount and Wired models where only the mount one is checked for that property. So the implementation will ha

[2019-02-03 04:32] darkstar939 commented on #90
any updates on this?

[2019-02-05 12:58] odenisenko opened #113 "401 Client Error: Unauthorized for url: https://api.ring.com/clients_api/session"
hi
time to time I got subj.

my code is very simple

[code]

log:
![jq3z0iuspl 1](https://user-images.githubusercontent.com/44768566/52274921-be692980-2956-11e9-9a2b-adebf0b33865.png)

[2019-02-07 08:39] odenisenko opened #114 "MSG_GENERIC_FAIL"
can you remove?
``
#        if self.debug:
#            _LOGGER.debug("%s", MSG_GENERIC_FAIL)
        return response
``
in  def query ?

annoyed :)

[code]

[2019-02-07 12:57] joeyberkovitz commented on #114
I don't remember about version 9, but I'm pretty sure the auth tokens don't expire. You should sanitize your post.

[2019-02-10 20:01] jsetton commented on #113
Have you tried to increase the poll interval? I think 5 seconds may be too short. From my understanding, the application does poll every 10-15 seconds. So anything below than that is probably getting your requests flagged on the Ring server side.

[2019-02-11 02:11] tchellomello commented on #114
@odenisenko  I've removed the tokens from your post to your protection. Which generic message do you suggest?  Please PR's are very welcome!

[2019-02-11 02:12] tchellomello commented on #113
@odenisenko The issue could be related to the frequency of polling as mentioned by @jsetton.

Please, modify the frequency and then let us know the results.

[2019-02-11 02:13] #113 closed

[2019-02-11 02:15] tchellomello commented on #112
Guys, loved the idea!! The matrix of products since the first version of this library has changed a lot and having this would help a lot. @jsetton  are you looking to submit a PR for this?

[2019-02-11 02:16] tchellomello commented on #111
Hello @problemss, since an update back ago in the Ring servers, the notification stopped to work. That would require more investigation to make it work. Any assistance is very welcome!

[2019-02-11 02:16] jsetton commented on #112
@tchellomello I am. You can assign this one to me. Working on other projects in parallel. So it is taking a little longer than I originally expected.

[2019-02-11 02:17] tchellomello commented on #103
Hello @beklever,
   Thanks for your kind words. Unfortunately, I don't have the spotlight, but some other users might be able to provide you some assistance.

[2019-02-11 21:56] jsetton commented on #112
@tchellomello I just submitted a PR based adding two properties; one for the model name and the second one to determine if the relevant model is wired-enabled.

[2019-02-14 05:05] jsetton commented on #111
Below are the packets from the latest android app using mitmproxy related to the push notification subscription. Both of them got a 204 response with no content. My testing was unsuccessful using my own site url as `push_notification_token` in the request. I am not sure if there is anything we can do at this point.

[code]

[code]

[2019-02-16 07:34] odenisenko commented on #113
@tchellomello hi!

what is wrong in my code?
sorry!

[code]

log
[code]

[2019-02-16 07:45] odenisenko commented on #113
btw, can't re-open

[2019-02-16 20:31] kevnflores commented on #93
@mrwhale you may want to use `return` instead of `print` this may be causing your output to be `none`

[2019-02-17 18:23] odenisenko commented on #114
DEBUG:ring_doorbell:Sorry.. Something went wrong...

[2019-02-19 15:33] odenisenko opened #117 "get_snapshot proposal"
Hi!

ring snapshot now always return actual picture from the cam
so, we can simplify a code

[code]

[code]

[2019-02-20 03:21] jsetton commented on #114
Probably because when it was first added, it used to indicate that there was a problem with the query request. Not sure why it was kept when the function was updated subsequently.

https://github.com/tchellomello/python-ring-doorbell/blob/e00aa1e8c89a5b4a26fa0cde181f6a61a3652b03/ring_doorbell/__init__.py#L131-L132

Anyway, it's fixed and will be merged part of my last PR.

https://github.com/tchel

[2019-02-21 03:36] kevnflores opened #118 "check_alerts() on multiple doorbell devices"
Hi, I'm running the following

[code]
Whenever I trigger a ring on either device the results are different, so if I go and ring the front door I would get the following:
[code]

when I ring the same doorbell and run it again I get the following:
[code]

Is there a way to specify by Ring name as opposed to the array number? I'm not sure if anyone has worked with multi-device notifications?

[2019-02-21 18:36] DoctorIOT opened #119 "Feature Request: Support the latest Feature 'Camera Preview'"
Add the ability to retrieve a snapshot from the ring camera, this is not from a recorded video but live.

[2019-02-22 15:57] Doudy opened #120 "How to use this script python-ring-doorbell?"
_**So I installed as written at the beginning**_
`//install python
$ sudo apt-get install python-pip

//install ring api
pip install ring_doorbell

pip install git+https://github.com/tchellomello/python-ring-doorbell@master

//installé les lib python au cas où
sudo apt-get install -y python3
sudo apt-get install -y python3-dev
sudo apt-get install -y python3-pip
sudo apt-get install -y python-urll

[2019-02-26 04:08] #112 closed

[2019-02-26 04:08] #114 closed

[2019-02-27 17:38] el3359 commented on #38
Hello

Anybody know the URI for activated motion notification on the RING App?

Regards

[2019-02-28 09:01] eugeneniemand commented on #119
Another vote for this. I use home assistant and this would be a very useful feature.

[2019-02-28 14:10] odenisenko opened #121 "authorization issues still here!"
2019-02-28 08:19:03,253 - doorbell - ERROR - No handlers could be found for logger "ring_doorbell"
2019-02-28 08:19:03,308 - doorbell - ERROR - ('Connection aborted.', error(104, 'Connection reset by peer'))
2019-02-28 08:20:03,357 - doorbell - INFO - Trying to connect to ring service...
2019-02-28 08:20:06,726 - doorbell - ERROR - 401 Client Error: Unauthorized for url: https://api.ring.com/clien

[2019-02-28 14:11] odenisenko commented on #121
after restart connected OK!

[2019-02-28 14:12] odenisenko commented on #121
my code
[code]

[2019-03-01 06:55] Doudy commented on #120
Nobody ?

[2019-03-05 02:57] jsetton commented on #119
This feature has already been implemented and merged into the repository.

#108

[2019-03-11 12:13] firstone opened #123 "check_alerts() and alert documentation reversed?"
check_alerts says "Returns JSON.." but returns true/false. alert attribute returns JSON instead.

[2019-03-12 08:07] odenisenko commented on #121
UPD:
after investigation, we have 2 issues
1) when we got something wrong (401 for example0 from API. our the core can't restore correctly session

[code]
2) https://api.ring.com/clients_api/snapshots/timestamps end now throw
2019-03-12 10:04:00,112 - ring_doorbell - DEBUG - Querying https://api.ring.com/clients_api/snapshots/timestamps
[code]

[2019-03-13 10:20] Doudy commented on #120
Hello,
How am I doing this "Initializing your Ring object"?

`Initializing your Ring object
from ring_doorbell import Ring
myring = Ring('foo@bar', 'secret')

myring.is_connected
True`

Help

[2019-03-13 10:20] Doudy commented on #120
Hello,
How am I doing this "Initializing your Ring object"?

`Initializing your Ring object
from ring_doorbell import Ring
myring = Ring('foo@bar', 'secret')

myring.is_connected
True`

Help

[2019-03-17 21:26] budachst opened #124 "get_snapshot() yields error 401"
I am tryingt to get a snapshot from my ring video pro, by calling get_snapshot() for that object. However, all I am getting is the following error:

`ERROR - Unexpected error:401 Client Error: Unauthorized for url: https://api.ring.com/clients_api/session`

My code, where I am trying to grab the snapshot looks like this:

`def getDeviceInfo(dev):
    dev.update()
    devSnap=dev.get_snapshot()

[2019-03-24 17:29] #117 closed

[2019-03-25 19:47] dshokouhi commented on #124
Seeing the same 401 error here too.

[2019-03-28 15:13] 242Racing commented on #38
I would also like to have the URI for activate/deactivate "Motion alerts".

[2019-03-28 17:11] jsetton commented on #38
Based on my understanding, there is no direct way to activate/deactivate motion alerts. However, you could achieve that by activating/deactivating any of the motion zones (#110).

[2019-03-28 17:55] jsetton opened #125 "Feature Request: Motion Alerts Toggle"
Ability to toggle motion alerts

**Activate**
[code]

**Deactivate**
[code]

[2019-03-28 17:59] jsetton commented on #38
I spoke too soon 😄 I guess I rely too much on motion schedules to realize that you can simply manually enable/disable motion alerts.

Anyway, I just opened a new request (#125) including the URI to accomplish this.

[2019-03-31 02:24] jsetton opened #126 "Feature Request: Motion Snooze Schedule Control"
Control motion snooze schedules. This could be used to toggle motion alerts across all clients associated to a specific device.

**Motion Schedule List**
[code]

**Motion Schedule Create**
[code]

**Motion Schedule Delete**
[code]

**Motion Schedule Activate**
[code]

**Motion Schedule Deactivate**
[code]

[2019-03-31 15:18] jendrush commented on #120
@Doudy Sorry for writing to you this way, but i do not see option for contact in interceptWH2600. Could you please repair links for installation instructions?

[2019-04-01 06:49] Doudy commented on #120
I have the following adress
http://www.domoticz.com/forum/viewtopic.php?t=15278
http://www.domoticz.com/forum/viewtopic.php?t=13272
http://www.domoticz.com/forum/viewtopic.php?f=38&t=15278&start=40
https://github.com/Doudy/interceptWH2600

You have also :
http://www.weewx.com/hardware.html
https://github.com/weewx/weewx/wiki/observer (not tested)
http://www.weewx.com/docs/usersguide.htm#Computer_h

[2019-04-01 06:49] #120 closed

[2019-04-03 00:55] rborgwald commented on #124
Same issue for me - does anyone know of a workaround?

[2019-05-22 21:22] 242Racing commented on #126
I can get the "Motion Schedule List" working via Postman, but not "Motion Schedule Activate" or "Motion Schedule Deactivate". Any ideas?

[2019-05-22 23:41] jsetton commented on #126
@242Racing I am not sure. Are you using the proper `ruleId`? Is "Motion Schedule Create" working?

[2019-05-23 20:11] MoonScript commented on #87
When I "Snooze Motion Alerts" for 15 minutes via the (iOS) app, does the current `motion_snooze` API only snooze alerts for only my own iOS device, but not for everyone?  So if my wife also has the (iOS) app installed on her phone, she will still receive motion alerts during that 15 minute window?

Any ideas how to do a global snooze of motion detection on the doorbell, so no clients will get aler

[2019-05-24 06:42] JaniniRami07 commented on #38
Here I have written this code for ring doorbells and stick up cameras and if you want to use it for doorbells just replace stickup_cams with doorbells:
https://github.com/JaniniRami07/PyRing

[2019-05-25 17:23] 242Racing commented on #126
I can get these working: Motion Schedule List, Motion Schedule Create, Motion Schedule Activate. But not Motion Schedule Deactivate. Getting "404 Not Found". Apperently it doesn't like "...deactivate...".

[2019-05-25 18:19] 242Racing commented on #126
Found it! "inactivate" should it be.

[2019-05-25 19:09] jsetton commented on #126
Good catch! I may have mistyped when formatting the original post. I have updated it.

[2019-05-31 12:04] kirantpatil commented on #23
Hi, I would like to know any opensource sip servers which is same as Ring servers.

[2019-06-06 10:28] alekslyse commented on #23
Anyone got any further of connecting to the live stream. I cant see why it should be impossible as it is there - though even the windows app connects to 3.121.122.91 for auth. Just wish it would be a hidden rtsp stream or something running on the camera

[2019-06-18 23:28] dgreif commented on #124
I'm doing some snapshot investigation for my [homebridge plugin](https://github.com/dgreif/ring-alarm/tree/master/homebridge) and noticed you might have an issue on this line: https://github.com/tchellomello/python-ring-doorbell/blob/7ab56fcd7d0b600c4fb5f3e25e4eef974bd71d2d/ring_doorbell/doorbot.py#L378

This is hitting the `snapshots/timestamp` endpoint with a `GET`, which returns a `405` with bo

[2019-06-25 19:06] problemss commented on #124
@dgreif is changing it to a post fixing it for you?

[2019-06-25 19:09] dgreif commented on #124
@problemss I haven't actually tried the change with the python library (I live in nodejs land), but I would think this line would cause issues based on the defaults for `self._ring.query`.  I'd recommend someone try it out and see if it fixes the issue

[2019-06-25 19:53] problemss commented on #124
@dgreif Does the snapshot work in your home bridge plugin?

[2019-06-25 19:56] dgreif commented on #124
Yep, it's working great.  I looked at the python library while i was figuring out how to do it and happened to notice the discrepancies in the way the `timestamp` endpoint is being called.

[2019-06-25 19:59] problemss commented on #124
@dgreif Thank you for your help with this project and i will have to try out your plugin for my homebridge implementation!

[2019-06-25 20:13] dgreif commented on #124
No problem @problemss!  Hope the homebridge plugin suites your needs 😄. Here are the pertinent lines from my node api: https://github.com/dgreif/ring-alarm/blob/944b04d528a53e1b908ec68a022390fd4261bd23/api/ring-camera.ts#L160-L217 .  I actually beefed it up a bit this morning because the older versions of the doorbell apparently only update the snapshot every 10 minutes, not on-demand like newer v

[2019-06-27 23:09] odenisenko commented on #124
team.
as I can see @tchellomello use old auth method.
now we shouldn't use any auth_token (in url query) and we should use simple and standard oAuth auth.
so. I write a simple application and it works like a charm.

[code]
![image](https://user-images.githubusercontent.com/44768566/60306663-b92e6a80-9949-11e9-8a6a-1a4507542b9d.png)

[2019-06-27 23:19] dgreif commented on #124
I can confirm that this is the issue with the `timestamp` endpoint.  I was running into other issues in my homebridge plugin because I was _only_ using oauth (Authorization: Bearer token) with all the endpoints.  When I tried using the session `auth_token` in the query string for all api requests, I received 401s for _just_ the timestamps endpoint.  My recommendation is to use the authorization he

[2019-06-28 06:01] odenisenko commented on #124
@dgreif hi!

it's not clear for me, sorry.
1) I have traced my ring traffic with my drytek vigor 2925 and can't find any calling with "auth_token" in query param.
at all
2) these endpoints working without "auth_token" query param - OK.
so, can you clarify what you mean?

thnx!

[2019-06-28 08:33] odenisenko commented on #124
bonus

[code]

[2019-06-28 16:00] dgreif commented on #124
@odenisenko The biggest issue that I have run into using _just_ oauth is that calling the `dings/active` endpoint leads to weird results.  If you have 2 clients polling the endpoint, sometimes only 1 or neither client will see a ding.  It's as if the dings are in a shared pool, and the first client to request active dings will see it, but no one else gets to see it.  The current session auth appro

[2019-06-28 16:25] odenisenko commented on #124
@dgreif thank you for your answer.
Have a nice day!

[2019-06-28 18:18] dgreif commented on #124
@odenisenko this was really bugging me so I dove and and did a bunch of testing to confirm my theories.  It is indeed the `hardware_id` that tells `dings/active` which pool of events you should be pulling from.  Here is the bare minimum auth sequence to get reliable data:

1. Get an `access_token` from `https://oauth.ring.com/oauth/token`
2. Create a session using `access_token` in `Authorization`

[2019-07-10 20:25] d1337ted opened #127 "Feature Request: Find a video based on date"
Would love to be able to specify a date and pull videos for that data specifically. My biggest complaint about the website and apps are that you have to scroll forever to try and find what you are looking for. What good is having all the videos saved if they make it very difficult to find them.

[2019-07-21 00:33] craigham opened #128 "getting authentication error"
When I try and create a Ring object I get the following error message. I am really sure I am passing in the proper email/password to the constructor.

 I have seen that there has been some announcements lately about the Ring Api, so I was wondering if maybe this library doesn't work now.  Could anyone confirm if this still works?

thanks.

` File "/Users/craigh/PyCharmProjects/python-ring/venv/lib

[2019-07-22 05:44] 1ntr3p1d commented on #59
Any chance this can be re-opened, siren and light still not available.

[2019-07-24 21:00] dgreif commented on #23
@rpavez @Sfinx I know I am really late to this thread, but I am working on implementing live video from Ring in my [homebridge-ring plugin](https://github.com/dgreif/ring/issues/35).  I am _very_ close to having it working, but can't quite crack it.  I am successfully negotiation the SIP setup and am receiving RTCP packets on the port that I give to Ring, but am not receiving any RTP packets for s

[2019-08-02 11:53] galadril commented on #124
Do you need the paid subscribtion for the get_snaphot to work?

[2019-08-02 12:06] isabellaalstrom commented on #124
@odenisenko Hi! I'm trying to use the code you contributed above to get my snapshot, but I get a 404 on the request for the snapshot, and response "no snapshot". Have any idea why? I have a Ring doorbell 2.

[2019-08-02 15:05] tchellomello commented on #124
Hello guys, I'll take a look this weekend on this issue.

[2019-08-04 08:07] ualex73 opened #129 "Memory grows significantly when HA Ring component is enabled with 2 Doorbells"
I have been using the Ring component in Home Assistant 0.87 - 0.96 without any issues (stable, no memory issues). This is all with 1 Ring Doorbell Pro.

Now my parents got the same Ring Doorbell Pro and it is added to my Ring account (shared), it shows up fine in Home Assistant.

Only after the second doorbell is added, I have significant memory growth with Home Assistant. It took me a while, but

[2019-08-10 15:35] odenisenko opened #130 "no alerts since last fw update"
subj.
according to trace
https://api.ring.com/clients_api/dings/active?blabla
always returns nothing
[code]

[2019-08-10 15:43] odenisenko commented on #124
no

[2019-08-11 15:36] odenisenko commented on #130
magically it was fixed tonight

[2019-08-11 15:36] #130 closed

[2019-08-12 21:24] dshokouhi commented on #128
if u have 2fa enabled on your account...disable it...sign in with the library....then you can re-enable it...i had to do this recently myself for home assistant.

[2019-08-12 22:07] #128 closed

[2019-08-12 22:07] craigham commented on #128
it seemed to work when I tried it a little later.

[2019-08-13 16:03] rtphokie opened #131 "unclosed SSL socket warning"
I'm consistently seeing this warning under Python 3.7.4

[code]

[2019-08-13 16:11] kevnflores commented on #118
After some digging, I revisited this error and found that the returned values are never the same, so if I specify an integer the values will be different every time. When I do a check alerts it will return a false/true statement for different doorbells.

[code]

[2019-08-14 11:55] #129 closed

[2019-08-19 22:53] cdoublejj commented on #23
well for wifi ring idk but, for PoE RING like the Elite I have wouldn't one mirror the port on the switch and collect it with wire shark? i'v never done it before my self. i have a managed switch and a VM running shark.

[2019-08-19 22:54] cdoublejj commented on #23
well for wifi ring idk but, for PoE RING like the Elite I have wouldn't one mirror the port on the switch and collect it with wire shark? i'v never done it before my self. i have a managed switch and a VM running shark.

[2019-08-19 22:59] dgreif commented on #23
I managed to get the SIP messages using a capture tool on android.  I have live streaming video fully functional in my homebridge-ring plugin now.  Currently working on some refactoring to get audio working as well, but the basic SIP setup is solid at this point.  Once the call is established, Ring's servers will send H264 video and PCMU audio over UDP to the ip/ports you give them in the SIP invi

[2019-08-20 00:22] rpavez commented on #23
I used https://ring.com/gettheapp got it connected to my ring device and then https://www.wireshark.org/download.html to check traffic filtered by SIP traffic only.

[2019-08-20 02:37] cdoublejj commented on #23
So once it's captured i assume it would take some serious doing and CPU power to convert to ONVIF or RTSP or the likes for say sending over to Blue Iris?

[2019-08-20 02:56] dgreif commented on #23
@cdoublejj as long as your target software supports h264, it won’t take much CPU at all. For HomeKit, I literally just pass along the video UDP packets without touching them. For audio, I have to convert from PCM to aac-eld because HomeKit is picky, but I do that with ffmpeg and it takes barely any CPU.

[2019-08-22 05:12] clement-chung commented on #124
Hi @tchellomello , any chance to get the fix merged into master and close the issue?

Thanks.

[2019-09-07 11:51] FearNaBoinne opened #132 "Either a method to ring multiple chimes concurrently, or a 'no wait' optional parameter on the test_sound method"
When you have multiple chimes that you want to have play one of the two predefined sounds concurrently, you cannot do so right now, as the 'test_sound' method waits for confirmation.

It would be nice if there either was a method to do test_sound on multiple chimes simultaneously, or an additional 'no_wait' parameter to 'test_sound' to make it not wait for the confirmation, so you can rapidly trig

[2019-09-07 12:10] FearNaBoinne commented on #132
NM, not sure what was wrong before, but now they ring almost simultaneously anyway...

[2019-09-07 12:10] #132 closed

[2019-09-11 01:38] energee commented on #119
Doesn't work :(

[2019-09-13 22:58] jeroenterheerdt commented on #23
I made a very quick and dirty solution that basically wraps around the node solution made by @dgreif. Hopefully someone with more skills in Node can turn this into a proper Python solution. The PR is here if you want to try: https://github.com/tchellomello/python-ring-doorbell/pull/133

[2019-09-13 23:13] cdoublejj commented on #23
that's awesome!

Blue Iris supports H264 AND H265, I think it also supports more than just ONVIF and RTSP, think it may support a few other or at the very least it appears to have a range of protocols and camera types. It is a pretty robust solution! Heck i'd consider a bounty $$$ if wasn't a lofty goal.

[2019-09-13 23:21] jeroenterheerdt commented on #23
I am not interested in Blue Iris :) I just want this to work in Home Assistant :)

[2019-09-16 03:38] odenisenko opened #134 "snapshot endpoint was changed again"
subj, JFYI!

[2019-09-16 03:49] odenisenko commented on #134
Ooops!

[code]

[2019-09-16 03:49] #134 closed

[2019-09-16 05:04] eugeneniemand commented on #119
@energee I’ve not tried this but do you mean the g feature does not work in home assistant or natively in this library?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-17 03:46] energee commented on #119
Snapshot method returns 401, will look into it and submit a patch

[2019-09-21 22:57] MantieReid opened #136 "Get video URL link faster"
Is there a way to get  the video link  for the video faster?
I have a few hundred videos, and I retrieve the links for each of them by using

[code]
But it takes forever to get just one link. At least a good 15-30 seconds or more.  When I went straight to ring to get the video url, they gave it to me much more faster.   Is there a faster way to get the video url for each video?

[2019-09-27 03:26] zhenqidong commented on #124
@dgreif, I confirmed your theory, it seems snapshot API only takes access_token in Authorization header for authentication, not the auth_token in URL params.
Also what I've found is that Ring only keeps one snapshot at a given time, have you found out how often Ring generates the snapshot?

Thanks,

[2019-10-01 13:22] dgreif commented on #124
Ring only updates the snapshot when you send a POST to `https://api.ring.com/clients_api/snapshots/timestamps`.  If you post the desired camera id in `doorbot_ids`, then the camera will respond by posting a new snapshot and updating the timestamp on the `timestamps` endpoint.  Wired cameras can only post snapshots every 30 seconds, while battery cameras are limited to one snapshot per 10 minutes.

[2019-10-18 08:06] nuketownhf opened #138 "bad compability with multiple doorbells"
Hello,
I want a notification system that if the bell rings than something in an if-statement happens.
But the id of the specific device is always hopping to another Ring device (I have 4 of them)
example:
[code]
outputs:
d8a98b6fcxxx
90e202938xxx
d8a98b6fcxxx
a810874d5xxx
a810874d5xxx
d8a98b6fcxxx
90e202938xxx
90e202938xxx
a810874d5xxx

but i'd need that index [3] IS and STAYS the same id to fit t

[2019-10-18 10:25] nuketownhf commented on #118
I am having the same problem!
Somebody got a fix for that issue?

[2019-10-21 12:47] nuketownhf commented on #136
I don't get why such simple questions do not get any answers, I'd love to know it too...

[2019-10-21 14:17] nuketownhf commented on #138
I changed it myself by editing line 232 (method called __devices)
to
[code]

now the Doorbells get assigned the same index every time!

[2019-11-01 19:00] odenisenko opened #139 "no motions"
hi!

Anyone else has issues with motion events?
no motion events at all. only ring

thank you!

[2019-11-03 06:15] tekmaven commented on #59
Bump on this.  Can this be reopened? I also have the same issue that @aLTeReGo-SWI  @1ntr3p1d have - the siren and light are not available, but I do see the camera and motion sensors.

[2019-11-03 16:57] odenisenko commented on #139
all events have returned. jokes from Ring

[2019-11-14 09:04] #139 closed

[2019-11-30 18:50] ifuchs opened #140 "Cannot authenticate"
myring = Ring('xxx@yyy.com', ‘xxx’)

Gives:
requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url: https://api.ring.com/clients_api/session

[2019-11-30 20:50] #140 closed

[2019-11-30 20:55] ifuchs opened #141 "Number of events accessible"
I can list info for 100 past events using doorbell.history.  Is this a limit set by Ring? I had thought that they keep 30 days of events but my last 100 events only cover 4 days.

[2019-12-06 23:33] nikotime commented on #59
I am facing the same issue as well.

[2019-12-18 02:58] thanneman79 commented on #141
I'd be interested in this answer also. Do to an issue I didn't notice my utility the uses this library hasn't ran since 11/1

[2019-12-18 19:36] madsmooth commented on #59
I can see 2 of 4 lights and no sirens

[2019-12-19 11:59] ualex73 opened #142 "Ring API stopped working"
This morning the Home Assistant component stopped worked, with the following errors:

`2019-12-19 12:53:58 ERROR (SyncWorker_7) [homeassistant.components.ring] Unable to connect to Ring service: 403 Client Error: Forbidden for url: https://api.ring.com/clients_api/session`
`2019-12-19 12:53:58 ERROR (MainThread) [homeassistant.setup] Setup failed for ring: Integration failed to initialize.`

It st

[2019-12-19 12:06] MikeJMcGuire commented on #142
Have confirmed using the ring-doorbell package directly with a script is resulting in the same error as home assistant.

[2019-12-19 12:13] ComputerSmiths commented on #142
Python code gets:

Traceback (most recent call last):
  File "RingBattery.py", line 30, in <module>
    for dev in list(myring.doorbells):
  File "/usr/local/lib/python2.7/dist-packages/ring_doorbell/__init__.py", line 271, in doorbells
    return self.__devices('doorbells')
  File "/usr/local/lib/python2.7/dist-packages/ring_doorbell/__init__.py", line 245, in __devices
    req = self.query(url).

[2019-12-19 12:31] isabellaalstrom commented on #142
Can comfirm that the oauth process and the https://api.ring.com/clients_api/ring_devices endpoint still works in Postman.

[2019-12-19 12:33] isabellaalstrom commented on #142
Can confirm that `https://api.ring.com/clients_api/ring_devices` still works through postman, so there should be a change to just the sessions endpoint maybe.

[2019-12-19 15:54] xernaj commented on #142
I've had a look at this and noticed the following changes that will be required:
- Update user agent in header as that is now blocked
- OAuth bearer token must be in calls or it will be rejected
- 429 occurs frequently as the above aren't implemented and ends up hammering their API

I'm working on my own branch now and so far it's working well for gets. As far as post/puts... haven't tried.

[2019-12-19 15:56] ComputerSmiths commented on #142
Also, the simplest failing code directly in the Python interpreter:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/ring_doorbell/__init__.py", line 53, in __init__
    self._process_cached_session()
  File "/usr/local/lib/python2.7/dist-packages/ring_doorbell/__init__.py", line 79, in _process_cached_session
    req = self.q

[2019-12-19 15:58] arsaboo commented on #142
@xernaj Can you create a PR against this branch so that we can get the fix fast in HA?

[2019-12-19 18:44] mandusm commented on #121
related: https://github.com/tchellomello/python-ring-doorbell/issues/142

[2019-12-19 21:14] xernaj commented on #142
PR #143  raised. If someone could test it out in the real world too, that would be great. I can only confirm that gets for sensors are working (including camera for HA).

[2019-12-19 21:24] ComputerSmiths commented on #142
Happy to test, but not sure how.  I seem to have installed the original code with pip, if that matters...

Thanks!

[2019-12-19 21:27] Scope666 commented on #142
Also happy to test, can I pull it down as a custom component?  I'm running Hassio   (or pip install maybe?)

[2019-12-19 22:27] xernaj commented on #142
In order to test with HA. You'll need to grab the HA ring component and copy to your custom_components. You'll then need to modify manifest.json (which should be I custom_components/ring) to point to the updated package branch (this would be the github zip link). The requirements format is mentioned here https://developers.home-assistant.io/docs/en/0.90.0/creating_component_deps_and_reqs.html. I'l

[2019-12-19 23:06] mhpetiwala commented on #142
I pulled the changes done by @xernaj and merged with my 0.85.1 HASS and they seem to work. The ring component was able to initialize and pull motion/ding data via the API. Don't see any errors on HASS side either except the normal warning:

Log Details (WARNING)
Thu Dec 19 2019 17:01:40 GMT-0600 (CST)

Setup of platform ring is taking over 10 seconds.

[2019-12-19 23:11] geekofweek commented on #142
Testing it out now, seems ok so far.

[2019-12-19 23:11] Scope666 commented on #142
Not sure what I'm doing wrong:

[code]

[code]

[2019-12-19 23:13] geekofweek commented on #142
should be more like this, you've got it listed as documentation and not a requirement.

[code]

[2019-12-19 23:19] Scope666 commented on #142
@geekofweek   Thanks so much!  I haven't messed with a manifest.json file before so the syntax was a bit confusing.

@xernaj   It's working over here... great work!

[2019-12-19 23:35] xernaj commented on #142
Thanks for testing! Haven't had time to update instructions on how to put all the pieces together but I'm glad everyone worked it out.

I think the python-ring-doorbell component can be improved further as it still seems to make too many calls to the API, particularly oauth, which could end up getting blocked later on. There's also potential to speed up the process or reduce the amount of "Setup o

[2019-12-19 23:48] brama1966 commented on #142
Yep working here as well
motion returning to clear takes for every
but that how it was before it fell over
well can't wait for the next thing to fall over

[2019-12-19 23:54] brama1966 commented on #142
Yeah i did the hack of the HA

potainer docker
homeassistant container
console
and just replaced the ring_doorbell folder in the /usr/local/lib/python3.7/site-packages
reboot
and
**yippee ki yay**

[2019-12-20 00:05] jaraeez commented on #142
Any directions where I'm going wrong?
Copied _cp -a /srv/homeassistant/lib/python3.6/site-packages/ring_doorbell_ to _custom_components_
Created manifest.json in the same directory & restarted home assistant - same error.

[2019-12-20 00:19] Scope666 commented on #142
Here, I zipped up my working edit, it goes under custom_components

https://drive.google.com/file/d/1C41E7OlOUZLtXBHosV9U6HTlBWNN8Cxf/view?usp=sharing

[2019-12-20 00:28] jaraeez commented on #142
Thanks, unfortunately I still get the below error
`2019-12-20 10:25:40 ERROR (SyncWorker_2) [custom_components.ring] Unable to connect to Ring service: 403 Client Error: Forbidden for url: https://api.ring.com/clients_api/session
2019-12-20 10:25:40 ERROR (MainThread) [homeassistant.setup] Setup failed for ring: Component failed to initialize.
2019-12-20 10:25:40 ERROR (MainThread) [homeassistant.

[2019-12-20 00:42] jaraeez commented on #142
Also removed the _.ring_cache.pickle_ & restarted still same issue.

[2019-12-20 01:28] raymondoooo commented on #142
@xernaj thanks so much for putting this together!  worked like a charm here!

@Scope666 thanks for the quick and dirty directions!  they were perfect!

[2019-12-20 02:03] brama1966 commented on #142
Yeah i think its better to just update the ring_doorbell library rather than the HA ring component as there isn't an issue with that part of the code

[2019-12-20 02:13] jaraeez commented on #142
Not sure if this is the best way though I've managed to get it working by unzipping

& copying the contents of ring_doorbell to _/srv/homeassistant/lib/python3.6/site-packages/ring_doorbell_ then removing the ring directory in _custom_components_ & restarting HA

[2019-12-20 02:24] brama1966 commented on #142
no that completely correct
it's basically what i did but i took the complete changes that where made by #143
https://github.com/xernaj/python-ring-doorbell/tree/fix/oauth-fail-due-to-blocked-user-agent
and that worked for me
the GODS are please and that's all that matters
true

[2019-12-20 04:34] rpitera commented on #142
@xernaj - Thanks mate - copied over your zip file and it works again.  At least this will tide me over until NabuCasa gets a chance to contact Ring about partnering.  Would be better in the long run, assuming that Ring actually responds faster than their cameras/doorbells do.  LOL

[2019-12-20 04:35] jaraeez commented on #142
Wanted to say that I'm getting a lot of the below

Not seen this before & will add scan_interval 300 to the configuration.yaml & see if that stops the log filling up

[2019-12-20 05:17] Diondk commented on #142
Ok, i got this working again :) Thanks for the quick fix!

[2019-12-20 09:29] balloob opened #144 "Follow proper OAuth2"
I am in contact with Ring to get Home Assistant their own client ID / secret for account linking. We will make this available via the new account linking service.

But for this to be done, the authentication part needs to be extracted from the ring object so that it can hook into the account linking service. Authentication part is the refreshing tokens and making authenticated requests part. It do

[2019-12-20 09:31] balloob commented on #142
I am in touch with Ring and working on getting an official client ID/secret for Ring. It means that this lib will need to be updated to allow passing in an authentication object. I wrote up an issue for this here: #144

[2019-12-20 09:58] markbajaj commented on #142
Worked perfectly! Thanks

[2019-12-20 14:12] biver0 commented on #142
I'm running hassio on ubuntu and I can't find the  /srv/homeassistant/lib/python3.6/site-packages/ring_doorbell folder.

I did a find and came up with:

/var/lib/docker/overlay2/2396f6e2e74788192a166858fa22ee5585c542e25bfdc94585d6da6933e39aa4/diff/usr/local/lib/python3.7/site-packages/ring_doorbell
/var/lib/docker/overlay2/97e4edf37a5b80ccb11797ee8d97efbcd745a767594c4759a4a0d2357817063a/diff/usr/l

[2019-12-20 14:24] tuinjie commented on #142
@biver0  - same installation and issue?

Any help anyone?

[2019-12-20 14:36] raymondoooo commented on #142
I have HA in a docker (not hassio).  My package was in -  /usr/local/lib/python3.7/site-packages/ring_doorbell

[2019-12-20 14:37] silviudc commented on #142
Where can I find the path for Hassio on a pi?

[2019-12-20 14:46] biver0 commented on #142
@raymondoooo  I have a
/usr/local/lib/python3.6/site-packages folder but it's empty.

[2019-12-20 14:47] tuinjie commented on #142
@raymondoooo I have same directory but empty

[2019-12-20 14:59] ocalvo commented on #142
I would not follow this procedure in hassio, in the best case it won't work and in the worst case you could render you installation not serviciable.

[2019-12-20 14:59] Scope666 commented on #142
If you scroll up, I zipped up a custom_component.  One advantage is it should survive a version upgrade.

[2019-12-20 15:00] ocalvo commented on #142
If you must custom components is the way for hassio

[2019-12-20 15:09] biver0 commented on #142
ok, so unless I'm missing something...

I downloaded the ring folder (from @Scope666 above) and put it in custom components and restarted Hass.

Nothing changed.  I'm still at 403 error.

I looked in the manifest.json file and it shows:

  "requirements": [
    "https://github.com/xernaj/python-ring-doorbell/archive/fix/oauth-fail-due-to-blocked-user-agent.zip#ring_doorbell==0.2.4"

I'm assuming t

[2019-12-20 15:11] Scope666 commented on #142
It is, and it's what I did yesterday.  I watched the log while it was
booting and I saw it fetch that component (printed in the log 3 times) and
then finished booting and was working.

On Fri, Dec 20, 2019 at 10:09 AM biver0 <notifications@github.com> wrote:

[2019-12-20 15:13] biver0 commented on #142
And nothing else changes in my configuration.yaml file?

ring:
  username: !secret ring_username
  password: !secret ring_password

[2019-12-20 15:14] biver0 commented on #142
One thing I've noticed is that the error I get seems to bounce between 403 and 401:

Error: 401 Client Error: Unauthorized for url: https://api.ring.com/clients_api/session
You will need to restart hass after fixing.

[2019-12-20 15:15] Scope666 commented on #142
No... maybe verify at ring.com by manually logging in that your username / password are good.

[2019-12-20 15:22] tuinjie commented on #142
@Scope666 followed your instructions copied contents of zip to custom components directory, restarted haasio and working ... hooray!

[2019-12-20 15:27] biver0 commented on #142
@Scope666 Bad password.  I'm so ashamed.  THANK you.

[2019-12-20 15:29] tuinjie commented on #142
@biver0 happens to us all :-)

[2019-12-20 15:34] biver0 commented on #142
OK, everything is back!  Thank you everyone for your efforts!

Now if someone could just tell me to get my last recorded video to play back at normal speed rather than 2x.

[2019-12-20 15:44] silviudc commented on #142
Yup for anyone with Hassio on a raspberry pi, this link from above fixes it: https://drive.google.com/file/d/1C41E7OlOUZLtXBHosV9U6HTlBWNN8Cxf/view?usp=sharing

[2019-12-20 16:10] #142 closed

[2019-12-20 16:46] Scope666 commented on #142
LOL, mine still do that too... here's the secret, hear the theme from Benny Hill in your head while watching the video and you will be THOROUGHLY entertained.     ;)

[2019-12-20 17:16] rpitera commented on #142
Mine do it as well; I thought I had just set up something incorrectly.  So I guess that's just how it is then?

[2019-12-20 17:25] Scope666 commented on #142
I think so.  I remember when I first set it up playing with all kinds of ffmpeg parameters but nothing seemed to change the accelerated rate.  Over time I've almost grown to like it because it saves time reviewing clips.

[2019-12-20 19:01] GuruPG commented on #142
I had same issue.
Applied the zip file from @Scope666 (many thanks)
Everything is back except the binary.sensor_ring_front_door_ding & binary.sensor_ring_front_door_motion
Any ideas?

[2019-12-20 19:04] rrabb commented on #142
Thanks everyone for taking care of this issue so fast!!

[2019-12-20 19:51] Scope666 commented on #142
@GuruPG   Try going to your "States" page and see if it shows up there.  Sometimes things get renamed on their own.  (or search through "Entities")

[2019-12-20 20:19] GuruPG commented on #142
Thanks @Scope666
Turns out I just hadn’t copied the binary_sensor.py across properly. Deleted it and copied yours across again. All now working perfectly.
Many thanks.

[2019-12-20 20:33] Scope666 commented on #142
https://github.com/home-assistant/home-assistant/releases/tag/0.103.3

Fix is cooked in so hopefully we can ditch the custom_component / manual hacks.

[2019-12-21 00:13] MikeJMcGuire commented on #142
Has anyone tried 103.3 with the update? There's been no change for me since upgrading to 103.3.

[2019-12-21 00:15] Scope666 commented on #142
It hasn't been pushed to Hassio yet, once it is I'll test and report back.

[2019-12-21 00:16] MikeJMcGuire commented on #142
Ah, thanks mate.

[2019-12-21 00:17] jaburges commented on #142
Damn I love this community! by the time I found some time to implement a fix, an updated docker was already ready :) Thanks to everyone who resolved!

[2019-12-21 01:20] disenberg commented on #142
Yes.  103.3 for hassio fixed it.  After turning off 2fa.

[2019-12-21 06:34] Scope666 commented on #142
Same here, deleted custom_component, upgraded and all is back to normal with Ring.  ( v0.103.3 )

[2019-12-21 12:33] broyuken commented on #142
Does 2FA work with it? I’d like to turn it on if possible.

[2019-12-21 13:55] d0ugal commented on #142
@broyuken no, 2FA doesn’t work with it. I had to disable.

[2019-12-21 21:16] xernaj commented on #142
You could enable 2FA on your main login then share cameras with a second email account and use the secondary account with no 2FA for HA.

[2019-12-23 22:49] johnthomas00 opened #146 "401 Client Error: Unauthorized for url"
Just started getting errors.  They may be trying to bad us from the API, but not sure.  Anyone else getting this error?

[code]

[2019-12-23 23:04] thanneman79 commented on #146
I'm getting it also. It seems to have started on the evening of 12/18. I just added some of the new stick up cams and thought that had caused it until I went back in my apps logs.

[2019-12-23 23:06] johnthomas00 commented on #146
There was an update that fixed the problem from 12/18.  Make sure you are running:
ring-doorbell   0.2.5
Even with the update to ring-doorbell   0.2.5, I am getting this error.

[2019-12-23 23:06] anomaly256 commented on #146
Yes this is new today.  Was working for me only a couple hours ago

[2019-12-24 02:13] geekofweek commented on #146
Just started seeing this as well.

[2019-12-24 02:29] Jay66543 commented on #146
The library is using:
`User-Agent: Dalvik/2.1.0 (Linux; U; Android 9.0; SM-G850F Build"/LRX22G)` as the `user-agent`, changing it to `User-Agent: ring_official_windows/2.4.16` allows for the auth token to be grabbed.

There are also two other 2fa related headers, but adding those to the original user agent does not make for a valid token request:
[code]

[2019-12-24 02:30] theplen commented on #146
Same here,  0.2.5 was working until a couple of hours ago.  They must have blocked the new user-agent or some other means of detecting this library.

[2019-12-24 02:52] geekofweek commented on #146
@Jay66543 can confirm adjusting the User-Agent seems to resolve it.  Appears we are in a cat and mouse game with them locking down devices allowed to connect.  If I have some time I will see if I can scrape the official iOS User-Agent and test that.  I would assume it would be a safe bet to standardize around that one.

[2019-12-24 03:03] geekofweek commented on #146
`User-Agent: ring/5.21.0.5 CFNetwork/1121.2.2 Darwin/19.2.0` Also works, that is what the current iOS app officially uses.

[2019-12-24 04:03] tekmaven commented on #146
I confirm this is working for me.  This is how I'm hacking around it for now in HA, by editing `/components/ring/__init__.py`:

[code]

[2019-12-24 04:59] jaraeez commented on #146
Cheers, that worked for me

[2019-12-24 05:41] skynet01 commented on #146
I assume you just need to add that at the top of the file?

[2019-12-24 06:03] jaraeez commented on #146
Added it after line 13 like so (line 15,16)

[2019-12-24 06:07] tchellomello commented on #146
It's interesting how they are changing their API but I'm happy that our community is picking this very quickly.  @tekmaven  (_or someone else_)  want to submit a PR so we can get it fixed in Home Assistant?

[2019-12-24 08:47] balloob commented on #144
I have been in touch with Ring. The reason they are actively blocking this lib right now is that this library is not following the proper OAuth2 authentication. Whenever the token expires, we should get a new access token using the refresh token that was returned, instead of fetching a new access/refresh token using username/password.

The linked tutorial above describes exactly how this can be ad

[2019-12-24 08:49] balloob commented on #146
I have been talking to the CTO of Ring. I posted my update here: https://github.com/tchellomello/python-ring-doorbell/issues/144#issuecomment-568696354

The summary: this lib needs to follow OAuth2 spec or else they will keep blocking us.

[2019-12-24 09:33] Lee-Fixter commented on #146
Note working for me, modified .py below

[code]

[2019-12-24 12:31] ToddNJ commented on #146
this modification to adjust the request header worked for me using HASSIO 0.103.4, but i had to modify the file directly.   Cloning the folder to /config/custom_components/ring then modifying there did not work for me.

[2019-12-24 12:32] ToddNJ commented on #146
@balloob THANK YOU!   Any chance we could also use a "shared" account that has access to the main account, instead of the main account?  From the mobile app perspective, shared users see camera, motion, get alerts, etc.

[2019-12-24 13:15] Lee-Fixter commented on #146
Where is the file located?

[2019-12-24 15:09] arsaboo commented on #144
Indeed, the last fix was blocked again today.

[2019-12-24 15:43] broyuken opened #147 "Snapshot capture"
Now that ring has rolled out the snapshot capture feature, could that be added to the library to grab those images?

[2019-12-24 16:18] Scope666 commented on #146
I used Portainer for my HASSIO install.  It gives you a command prompt into the homeassistant container.  From there it was:

/usr/src/homeassistant/homeassistant/components/ring

![image](https://user-images.githubusercontent.com/31927547/71419748-1d9f5d80-263f-11ea-9ce8-c8b5b15ee0d0.png)

[2019-12-24 16:54] ZachBenz opened #148 "Return of HTTP 401 response"
Issue appears to be the User-Agent needs to match an official Ring app User-Agent, or request is rejected.

[2019-12-24 16:55] ZachBenz commented on #148
Essentially a duplicate of #146, see User-Agent fix there in discussion

[2019-12-24 16:55] #148 closed

[2019-12-24 17:58] tekmaven commented on #144
@balloob could you ask Ring to give the project an extension to implement this?  It is the holiday time and many people's smart homes are breaking who have invested in the Ring ecosystem.

[2019-12-24 18:43] isabellaalstrom commented on #144
As I have understood it there's already a way to implement this. Someone just have to make amendments to the lib.

[2019-12-24 19:27] Scope666 commented on #144
The workaround (for now) is here:

https://github.com/tchellomello/python-ring-doorbell/issues/146#issuecomment-568664517

[2019-12-24 19:28] Lee-Fixter commented on #146
Great, thanks!

[2019-12-24 19:44] Lee-Fixter commented on #146
Once I get to that dir, how to I edit the file? nano/vim etc are not installed..

[2019-12-24 20:28] Scope666 commented on #146
VI worked for me, it was already there.

[2019-12-24 21:09] tux43 commented on #146
Are you sure? This is a source file and does not look right.

I edited `/usr/local/lib/python3.7/site-packages/ring_doorbell/__init__.py` and it worked for me.

[2019-12-24 21:36] Scope666 commented on #146
Are you sure you're on HASSIO?  That almost looks like a Virtual Environment path.

Either way as long as you got it working.     ;)

[2019-12-24 21:45] GuruPG commented on #142
Seems to have gone down again.

[2019-12-24 21:56] asantaga commented on #146
I can confirm tu43 , in my Docker image (official) it was also /usr/local/lib/python3.7/site-packages/ring_doorbell/__init__.py

but this is only a workaround right?

[2019-12-24 22:07] asantaga commented on #144
This oAuth issue is just for Home Assistant right? or are they asking we do this for the base API too?

[2019-12-24 22:09] asantaga commented on #146
Also , Ive seen another thread which indicates ring are blocking us because we dont follow oauth properly (or at all).. Does anyone know if this is for the API as a whole or just within Home Assistant?

[2019-12-24 22:13] d0ugal commented on #146
I don’t know, but I believe it will be the API as a whole. I don’t think they can easily tell the requests are coming from home assistant. We pretend to be the phone apps by setting the headers.

[2019-12-24 22:58] tux43 commented on #146
No, I am not on HASSIO and maybe that is the difference. I am using docker and edited this file within the container.

[2019-12-24 22:59] Scope666 commented on #146
I followed the procedure posted above which was editing:

/components**/ring/**__init__.py  not   /**ring_doorbell**/init.py

[2019-12-24 23:01] tux43 commented on #146
Are you using HASSIO or Docker or ???? Reading through the thread and my experience it is different on both (assumption by me not confirmed)

[2019-12-24 23:04] Scope666 commented on #146
I'm on Hassio, installed on Ubuntu.  For me the path was /usr/src/homeassistant/homeassistant/components/ring INSIDE the home_assistant container.  The hack worked for me.

[2019-12-25 00:32] thehaxxa commented on #146
Confirming this temporary fix worked for me:

`harrison@home-assistant:~$ sudo docker exec -it b9aa6c41174b /bin/bash`
`bash-5.0# cd /usr/local/lib/python3.7/site-packages/ring_doorbell/`
`bash-5.0# vi __init__.py`

Inserted new line below `from ring_doorbell.stickup_cam import RingStickUpCam` (_line 23_) :

![image](https://user-images.githubusercontent.com/2765052/71427200-cc0fd500-2709-11ea-952

[2019-12-25 02:42] raymondoooo commented on #142
Yep.  Down for me as well.  Haven’t had too much time to dig into it...

[2019-12-25 02:43] austwhite commented on #142
This was a very temporary fix.  Seems we are blocked by Ring again.

[2019-12-25 05:36] steve-gombos commented on #144
So does Ring want us to use the client id/secret now to establish connection to their token service or is implementing the refresh token after initial authentication what they want?

I've forked this a few days ago and started working on adding the usage of the refresh token to generate a new access token.  Specifically was working on this for the 2FA stuff since it isn't supported right now, but

[2019-12-25 08:23] drummer0417 opened #150 "HTTPError: 401 Client Error: Unauthorized for url: https://api.ring.com/clients_api/session"
******** Sorry!! ******** i guess this issue was already raised ...
consider it not posted. Can be removed.
.

Hi,

Since yesterday evening i get the following error while running this line:
myring = Ring(ringUsername,ringPassword)

Error: requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url: https://api.ring.com/clients_api/session

I am running your latest branche (updated two d

[2019-12-25 12:35] xernaj commented on #146
PRs have been raised.

https://github.com/tchellomello/python-ring-doorbell/pull/149

Suggest you use that one ('User-Agent': 'ring/5.21.0.5 CFNetwork/1121.2.2 Darwin/19.2.0') rather than mine? (https://github.com/tchellomello/python-ring-doorbell/pull/151). We just need a user agent that's unlikely to be blocked too quickly.

[2019-12-25 12:39] asantaga commented on #150
Dupe of https://github.com/tchellomello/python-ring-doorbell/issues/146

Workaround
Modify __init__.py method to include

[code]

[2019-12-25 12:41] xernaj commented on #144
It sounds like they want proper oauth 2 with refresh token and account linking via some service which will generate a client id/secret for each user. This way, your username/password will not be needed after the first time. I'm assuming this will be a lot more secure than the username/password combo or will at least look more secure due to media scrutiny, etc..

[2019-12-25 12:43] asantaga commented on #147
if you look at https://github.com/tchellomello/python-ring-doorbell/issues/124 someone has implemented the feature you are after using pure REST requests...

The api does have a get_snapshot() method but I cant get that working.

[2019-12-25 12:45] asantaga commented on #146
I think we should distinguish ring api enhancement and how it works within HA.. I've seen comments which indicate the functionality needs to be implemented within HA oauth accounts whereas I think the issue needs to be resolved within the API first and then HA accounts later..

just saying..

[2019-12-25 13:25] drummer0417 commented on #150
thanks!

Groet,

Hans

Op wo 25 dec. 2019 13:39 schreef Angelo Santagata <notifications@github.com

[2019-12-25 13:50] steve-gombos commented on #144
Well the forked code I updated does this and also adds 2FA, but it could probably use some clean up. This repo doesn't use the oauth lib like suggested in this issue, and I'm not sure how well it will play with the Ring 2FA., I'd be willing take a stab at that when I have some time here in a few days.  Assuming we just need to setup an auth class that HA can implement with correctly.

[2019-12-25 23:38] balloob commented on #144
@steve-gombos haven't looked at your code, but based on you comments about oauth2 lib just a quick comment.

There is a split in auth responsibility.

There is a piece of code that you give username/password/2FA and it gives you a refresh/access token pair. This is an independent piece of code.

The API can now be initialized with just the refresh/access token using `requests_oauthlib`, and it wil

[2019-12-26 06:49] tchellomello commented on #150
Closed dup #146

[2019-12-26 06:49] #150 closed

[2019-12-26 06:56] tchellomello commented on #146
Hello, applying the workaround proposed on #149 did help to temporarily address the issue, however, it will matter of time to get it blocked again IMHO.

Reviewing the code this night I actually found a pretty nasty bug (_sorry about that_)  https://github.com/tchellomello/python-ring-doorbell/blob/master/ring_doorbell/__init__.py#L90-L104 which causes the code to generate a new _Bearer_ token for

[2019-12-26 06:59] tchellomello commented on #144
Hello, applying the workaround proposed on #149 did help to temporarily address the issue, however, it will matter of time to get it blocked again IMHO.

Reviewing the code this night I actually found a pretty nasty bug (sorry about that) https://github.com/tchellomello/python-ring-doorbell/blob/master/ring_doorbell/__init__.py#L90-L104 which causes the code to generate a new Bearer token for ever

[2019-12-26 07:00] niekniek89 commented on #146
what are the correct commands to edit and save the __init__.py in VI mode?

[2019-12-26 07:01] tchellomello commented on #146
[code]

[2019-12-26 07:10] niekniek89 commented on #146
@tchellomello thanks for your quick response! with your help we have succeeded in modifying __init__.py.

[2019-12-26 13:59] steve-gombos commented on #144
@tchellomello I did notice this when I forked, which is part of the fixes I implemented in my fork. It's pretty rough but seems to work. Basically would save that access token and refresh token into the pickle file (not sure if this is the right place to). It would then load those from the pickle file any time and use the refresh token grant type vs the password grant type.

At the same time I hav

[2019-12-27 05:42] brama1966 commented on #144
@steve-gombos
Well I've tested your fork and it works fine i have ring back and it's working

[2019-12-27 16:32] #146 closed

[2019-12-27 16:59] tchellomello commented on #144
Closed by #152

[2019-12-27 16:59] #144 closed

[2019-12-27 18:20] dmurphynj opened #154 "Connecting hang with 0.27?"
Python 3.8 installed, using a venv.

I'm trying to toggle my floodlights on/off, and appear to be hanging somewhere in the authorization code.  It's hideously ugly code but has been working for a long time until Ring started messing with us.
[code]

I have to CTRL-C to exit the hung Python session:

[code]

Any ideas what we're hanging on?

[2019-12-27 21:55] tchellomello opened #157 "Requirements.txt is not being processed as expected"
Trying to install ring-doorbell into a new virtual environment:

[code]
Then testing the code:

[code]

Checking the modules installed

[code]

However, requirements.txt has the information necessary:

[code]

Processing the `requirements.txt` manually works as expected:

[code]

Then works as expected:

[code]

[2019-12-27 22:13] #157 closed

[2019-12-28 15:59] pickerin opened #160 "3000 DNS queries a minute"
After upgrading to 0.2.8 of ring-doorbell (in order to get the Oauth2 authentication, I'm now seeing about 3000 DNS queries, per minute, to oauth.ring.com.

[2019-12-28 18:44] mynameisgv commented on #142
It does not work with 0.103.4 with or without 2FA.

[2019-12-28 21:04] dtseiler opened #161 "How do I auth with 2FA?"
Hello, newbie here.

I've got a python 3.6 virtualenv on CentOS7 and trying just the basic authentication. Installed v2.8 via pip. I have 2FA set up on my Ring account. When I try the basic auth login from the README I get this error:

[code]

and then I get an SMS from Ring with the auth token. I don't see anything in the docs about how to do this for 2FA or setting up "app passwords" like Google

[2019-12-28 21:13] steve-gombos commented on #161
So the latest changes I pushed to this do have some support for 2FA, but it isn't really native yet.  Currently there is a callback method that can be passed into the Ring class to accept the 2FA input.  So I guess it depends how you are implementing this on your side.  If it is through HA, then there currently isn't a support for this, but if you are coding against the Ring class itself you can d

[2019-12-28 21:14] steve-gombos commented on #160
Is this using it through Home Assistant?

[2019-12-28 21:16] steve-gombos commented on #154
It looks like @tchellomello came across some issues with different versions of these libraries compared to Home Assistant the other day.  Are you still seeing this?  You could try removing the cache file and starting fresh?

[2019-12-28 21:47] pickerin commented on #160
@steve-gombos Yes, this is leveraging your library in the core of Home Assistant.  This wasn't happening until the 0.2.8 library was added.

[2019-12-28 23:15] ZachBenz opened #162 "v0.2.9 invalid syntax error in __init__.py"
Per ZachBenz/RingForIndigo#5 - when using latest version (0.2.9) of @tchellomello python-ring-doorbell as part of a plugin for Indigo home automation server, get an invalid syntax error:

[code]

[2019-12-28 23:17] ZachBenz commented on #162
Looks like this is a Python 2 vs. Python 3 issue:

[2019-12-29 00:06] steve-gombos commented on #162
Not familiar with python 2, but I'm assuming it is just remove the typing library since there probably isn't a commonality between the two?

[2019-12-29 00:08] ZachBenz commented on #162
@steve-gombos Thanks; in python 2 you do typing in the docstring (vs. inline with the parameter definition) - I'm trying out moving things there to see how it works out.

Seems to be a separate OAUTH scope typing issue as well that I'm puzzling through.

[2019-12-29 00:29] ZachBenz commented on #162
Converting typing to old-school python 2 docstring syntax fixed that issue.

However, the OAUTH scope issue is a python string (double quote) vs. regex (single quote) issue - that is, const.py is specifying OAuth.SCOPE as 'client', not "client", which is resulting in a type mismatch in the validation matching code of oauthlib's list_to_scope method (which explicitly looks for a str)

[code]

Chang

[2019-12-29 00:44] steve-gombos commented on #162
@ZachBenz Yeah I see the typing issue with the scope param.  Could you pass this in as a list?  I check the oauthlib and this should technically be a list.  SCOPE = ['client']  in const

[2019-12-29 00:45] albertcard commented on #142
@mynameisgv , I upgraded to '**homeassistant==0.103.5**' (which also upgrades **ring-doorbell** to version **0.2.8**) and it looks to have resolved the problem for now. However, Homeassistant now makes so many queries per second to **oauth.ring.com**.

[2019-12-29 00:46] ZachBenz commented on #162
@steve-gombos Yep, passing in as a list works, thanks!  Still trying to figure out the unauthorized_client issue.

[2019-12-29 01:05] ZachBenz commented on #162
Longer error trace showing how it rolls down from __init__.py down into oauthlib

[code]

[2019-12-29 01:18] ZachBenz commented on #162
Ah - seems like I have an imcompatible (older) version of oauthlib; fixing that...

[2019-12-29 01:26] ZachBenz commented on #162
Ok, got right library versions in place (using requirements.txt).  I'm going to create a pull request including:

- Switch to python 2 compatible typing in docstrings
- Add in the fix for the OAuth.SCOPE (make it a list)

[2019-12-29 04:34] tchellomello commented on #142
@albertcard  Thanks for your report. There is an issue opened for the number of DNS queries at  #160

[2019-12-29 05:56] migster8 commented on #161
Hello, could you please share an example of how to save the token into the cache file please? Many thanks

[2019-12-29 06:30] migster8 commented on #161
Sorry, Im a newbie to python and development in general. Think I got this to work by doing the following:
[code]

[2019-12-29 08:33] odenisenko commented on #147
please change

[code]

example how to use

[code]

[2019-12-29 08:37] odenisenko opened #164 "add timeout to requests"
for example

[code]

the root cause issue - hanging/infinity request

[2019-12-29 08:41] odenisenko commented on #154
add timeout=5 to all requests in __init__.py  that's could solve your issues

[2019-12-29 16:03] jeromelaban commented on #160
I'm seeing the same behavior, multiple DNS queries per second, as well as many connections to the oauth server:

[code]

Each resolution is used to make an https request to the resulting address.

[2019-12-29 16:07] albertcard commented on #160
@jeromelaban , I had a temporary fix with '**nscd**' on the server running Homeassistant here: https://github.com/tchellomello/python-ring-doorbell/issues/142#issuecomment-569463411

[2019-12-29 16:19] pickerin commented on #160
@albertcard Caching will help a lot, but the TTL on oauth.ring.com is set to 2 seconds.  I'm seeing about 50 / second, so it would cache around 99 of 100 requests made over 2 seconds, but it would still need to make 30 requests a minute...we need to figure out why it has to make so many calls.

[2019-12-29 18:02] #162 closed

[2019-12-30 00:54] dmurphynj commented on #154
So for whatever reason, I'm not having timeout hangs today.  The above script is running just fine.

Long story short, I have a Ring floodlight over my deck.  The problem is, there's a switch just inside the door that controls said floodlight.  Unfortunately switching it off powers off everything, including the camera.  So I removed the switch, installed a WeMo switch, but pigtailed the light in s

[2019-12-30 02:26] ZachBenz commented on #161
@steve-gombos For home automation purposes, seems like you could prompt the user for the auth-code the first go, and then rely on the tokens from there on out, correct?  I'm going to give this a try in my Indigo home automation server plugin...  (and thanks for getting this implemented!)

[2019-12-30 02:29] ZachBenz opened #166 "RingDoorBell.check_alerts() appears to be broken"
`ring = self._ring.query(url)[0]` (line 88 in doorbot.py) always fails with an exception, resulting in check_alerts() returning None.

[2019-12-30 02:38] ZachBenz commented on #166
Nevermind :-)  I wasn't properly debugging the response.

[2019-12-30 02:38] #166 closed

[2019-12-30 04:05] tchellomello commented on #154
The PR #165 should take care of that

[2019-12-30 04:07] #164 closed

[2019-12-30 04:40] steve-gombos commented on #161
@ZachBenz Yes, that is the behavior that I am seeing from their API currently.  So once you auth with the 2FA it will use refresh flow.  What I am not sure of is when/if they will revoke an issued token.  This would then go through the password flow again, which would prompt for the auth code again.

[2019-12-30 16:14] ZachBenz commented on #161
@steve-gombos Got it - almost have it working in my Indigo plugin...though I did manage to make too many 2FA code requests in a short time while debugging, freezing me out of getting additional auth codes temporarily!  In case it is helpful to others, the exception thrown in that case is oauthlib.oauth2.rfc6749.errors.CustomOAuth2Error, where the exception string is:

If you try to make use of an

[2019-12-30 16:27] ZachBenz commented on #161
When trying to login to ring.com website, I get an even more informative error message due to my wanton debugging:

[2019-12-30 20:26] jes1417 commented on #160
I am also seeing 700,000+ requests over the last 24 hours

[2019-12-31 05:06] steve-gombos commented on #160
So I setup Pi-hole on my HA to see what DNS queries were going on, but I am not seeing anything close to that volume.  What kind of devices are you running on Ring?  Are you overriding the HA scan interval?

[2019-12-31 05:39] jeromelaban commented on #160
I've been using this integration for a while in home assistant, and I used to have changed the `scan_interval` on `camera`, to 300s.

I did not notice that in this PR https://github.com/home-assistant/home-assistant/pull/25534, the scan_interval was moved from `camera` to `ring`. Since then, the refresh interval has been 10 seconds. It must not have been a problem previously but now, auth token ar

[2019-12-31 06:05] pickerin commented on #160
I'm running two Ring Floodlight Cams and a Ring Doorbell
I haven't touched the scan interval on the default integrations.

[2019-12-31 06:09] pickerin commented on #160
Hmmm, I'm not actually running Pi-Hole on my HA installation itself, it's a separate box.  Not sure if that makes a difference or not.

[2019-12-31 06:43] mbelie commented on #141
Just tried this for the first time today and am seeing the same thing. History results seemed to be capped at 100 regardless of the limit specified. I tried with "enforce_limit" equal to True and calling history without any parameters. The size of the result set is 30 with the latter call. I can see in the Android Ring app that the history can be paged past 100 records.

[2019-12-31 06:43] jes1417 commented on #160
Mine is running in a dedicated pi ![](https://i.imgur.com/wJapkEb.png)

[2019-12-31 07:41] steve-gombos commented on #160
I'm not sure if all of my network is using the pihole for DNS....  I am going to review the setup tomorrow.  I see traffic to other ring domains, but not specifically oauth.ring.com, which is weird.

[2019-12-31 08:13] mbelie commented on #141
@ifuchs @thanneman79
I just ran this for the first time and was seeing the 100 event limit too. After looking closer at the documentation [here](https://python-ring-doorbell.readthedocs.io/index.html#ring_doorbell.stickup_cam.RingStickUpCam.history) there is an "older_than" parameter that you can pass to history that will get you the next set of data older than the event id specified. So, you call

[2019-12-31 14:28] pickerin commented on #160
Steve, thanks so much for digging into this.  Just to be clear, all of the DNS queries we're seeing are coming from HA itself.  I see very little traffic from my Ring devices themselves, or my mobile app when I'm using it.  I see an enormous amount coming from my HA host.  So, you'd just want to confirm what DNS your HA system is using, but if your HA system is also your Pi Hole, you may not see i

[2019-12-31 15:55] jeromelaban commented on #160
I've been using this integration for a while in home assistant, and I used to have changed the `scan_interval` on `camera`, to 300s.

I did not notice that in this PR https://github.com/home-assistant/home-assistant/pull/25534, the `scan_interval` was moved from `camera` to `ring`. Since then, the refresh interval has been 10 seconds. It must not have been a problem previously but now, auth token

[2019-12-31 16:17] jeromelaban commented on #160
It also looks like `auth.expires_in` is not used here:

https://github.com/tchellomello/python-ring-doorbell/blob/423f095b834672d00deb4dc4c391f22580fd1ccd/ring_doorbell/__init__.py#L114

forcing refreshes.

[2019-12-31 16:44] ZachBenz commented on #161
@steve-gombos Ok, I have the test up and running with successful 2FA usage.  Going to leave it running and see what happens.

[2019-12-31 23:00] #160 closed

[2020-01-03 13:51] tzbailey commented on #147
Having tried this with a Ring Doorbell 2, it seems to me that the POST query method doesn't update the snapshot. It does get the timestamp of the latest snapshot and downloads it, but from what I can see it's just the most recent scheduled snapshot taken automatically by the doorbell.

[2020-01-03 14:39] tchellomello commented on #154
Closing this issue for now. Please feel free to reopen if it still is happening.

[2020-01-03 14:39] #154 closed

[2020-01-03 14:40] tchellomello commented on #138
@nuketownhf  can you send a PR with your solution please?

[2020-01-03 14:41] tchellomello commented on #121
Closed and fixed by #143

[2020-01-03 14:41] #121 closed

[2020-01-03 15:33] ZachBenz opened #170 "Ring alerts API (active dings) is not device specific"
Currently, the alert/active dings API is used in a per-device check_alerts method.  An issue with this is that the Ring alerts API is not device specific - that is, when querying it, you get the most recent active alert across any device associated with the Ring account.  Thus, for example, when calling check_alerts on a doorbell, the alert you get back may in fact be for a completely different de

[2020-01-03 15:38] dtseiler commented on #161
@steve-gombos thanks I'll give this a try later today. I'm just testing it via a script on a linux box, not using hass yet.

[2020-01-03 16:15] ZachBenz opened #171 "0.2.9 breaks recording_download"
#165 breaks video download due to the short timeout (timeout=5 is too short for the lengthy video download)

Exception traceback as seen in usage of ring_doorbell 0.2.9 within Indigo Home Automation Server plugin ZachBenz/RingForIndigo:
[code]

[2020-01-03 16:24] tchellomello commented on #171
@ZachBenz  thanks for the heads up.  Maybe we can override the timeout for the `recording_download` method so we can still be good with other calls. What do you think?

[2020-01-03 16:26] ZachBenz commented on #171
@tchellomello Agreed - I was just implementing something like this.  I added an optional timeout parameter to __init__.py's query method.  If it is None, we just stick with self._timeout; otherwise, we use what was passed in (e.g. from recording_download)

[2020-01-03 16:26] tchellomello commented on #171
@ZachBenz  awesome. Let's wait for your PR then so we can get this fixed :)  you++

[2020-01-03 16:35] ZachBenz commented on #171
I'm taking a rough guess at what a decent timeout for video download is (I'm on a very fast network connection, so my test environment is a bad general example).  My rough guess for general use is that 3 minutes should be enough; setting it as const in const.py so we can fiddle with it as needed.

[2020-01-03 16:37] ZachBenz commented on #171
Thinking about this a little more, I'm going to add an optional timeout param to recording_download as well so that end users can vary it as need be.  Will keep a default 3 minute VIDEO_DOWNLOAD_TIMEOUT, but at least this gives flexibility in implementation...

[2020-01-03 16:45] ZachBenz commented on #171
Did some calculations - .mp4 file size for video is on the order of 10 MB.  The official US FCC definition of broadband is a minimum of 25 Mbps down (and 3 Mbps up).  @ 25 Mbps, the video file should take a bit over 5 seconds to download... but, this assumes you are getting the full bandwidth for the download.  Using a factor of 10 as a safe margin, we get about 50 seconds (let's call it a minute)

[2020-01-03 16:48] ZachBenz commented on #171
Testing some more, an actual download of a 11.2 MB video on my dev system took 15 seconds, with the limiting factor on speed likely being the Ring backend.  Multiplying by a safety factor of 10, that puts us at 150 seconds.  Let's call it about 2 minutes.

Ok, I'm done fiddling. :-)  Getting a PR ready.

[2020-01-03 17:19] ZachBenz commented on #171
@tchellomello I believe the PR is now good to go

[2020-01-04 04:03] #171 closed

[2020-01-06 06:15] dtseiler commented on #161
Yep this worked, for auth, thanks.

[2020-01-06 10:25] odenisenko commented on #147
btw, now I have rcvd snapshot on my old AppleWatch. wow!

[2020-01-06 19:23] tchellomello commented on #124
Hello @clement-chung  I would be happy to merge a PR to implement this.

[2020-01-07 19:14] jr-ring commented on #141
I am the CTO @ Ring and we'd love to help you get this working to remove the unnecessary polling.  Please reach out to me at jr@ring.com

[2020-01-08 03:16] ZachBenz commented on #170
I'm going to take a crack at option 2 (keep check_alerts where it is for now, filter results) and see how that works out.

[2020-01-09 16:09] henriquechehad opened #174 "Issues with token refresh requests"
Hello,

It's sending refresh token requests for every API call. It should refresh the token only when the access token expires.

[2020-01-09 19:58] steve-gombos commented on #174
I think this was resolved by #167

Are you still seeing this after 0.2.9?

[2020-01-09 19:59] henriquechehad commented on #174
Yes. It was sending new access token requests for every api call, after the changes it's sending refresh token request for every api call now.

[2020-01-09 20:54] steve-gombos commented on #174
@henriquechehad I'll take a look later this evening.

[2020-01-10 01:04] HemiBob commented on #142
Mine used to play at half speed, until it stopped altogether today

[2020-01-10 01:47] 4Dolio commented on #174
Could this be related to some access problems I am having?  About Dec 18th I began getting 503 errors, turns out I had changed my password, and also needed to update your library and then it worked again.  But now today at Jan 9 10:44:14 PST 2020 was the last time I could successfully connect, as of Jan 9 11:16:05 PST 2020 all attempts to connect now result with:

I am wondering if Ring has change

[2020-01-10 02:37] steve-gombos commented on #174
Looks like something is going on.  Seeing the same thing on my HA and just testing with the repo itself.  Debugging right now.

[2020-01-10 02:46] SylvainGa commented on #174
Just want to add my voice to the group that are having issues.

[2020-01-10 03:30] steve-gombos commented on #174
Looks like the Ring API is blocking the User-Agent again.  @balloob Would you know if they are blocking this lib again?

[2020-01-10 04:44] steve-gombos commented on #174
https://github.com/home-assistant/home-assistant/issues/30626

[2020-01-10 07:00] Kussie commented on #174
Can confirm the changes in the above PR (#176) solved the issue for me.

[2020-01-10 09:29] andystewart999 commented on #174
Hey Kussie - I’m a bit of a noob with HA, how do I integrate this change before it’s baked in?

[2020-01-10 11:33] tzbailey commented on #174
Is this something Ring does regularly in an attempt to stop projects like this?
Also, once the fix is committed, will it be available via pip for update?

[2020-01-10 13:23] brama1966 commented on #174
You can wait till marcelo commits it or you would have to download it from Steve branch
Extract the ring_doorbell folder and copy that to you config folder.
docker into your homeassistant and copy it over to the existing ring-doorbell library folder.

[2020-01-10 13:28] henriquechehad commented on #174
Ring is not attempting to stop this project. It just should fix the issue in the OAuth flow as described in the issue description above, so it would be OK.

[2020-01-10 14:34] steve-gombos commented on #174
I think the main thing is that 0.2.9 hasn't been released in HA yet, I'm assuming that HA 0.104 should have this.  That fixes the repeated auth requests, which has gotten the oauthlib user agent blocked.

[2020-01-10 14:48] dgreif commented on #103
After messing around with this for the node Ring client, I came to the conclusion the the siren endpoint behaves differently for battery vs wired cameras.  For wired cameras (like the floodlight cam), you can turn the siren on/off at any time.  For battery cameras, the endpoint only works when the camera is _currently live streaming_.  I think the idea is that you are always watching a live stream

[2020-01-10 16:48] tescophil opened #177 "Binary Motion and Ding sensors no longer working"
Updated to the latest master which solved my auth issue (incorporating PR #176), however the binary sensors for ```last_motion``` and ```ding``` no longer work. The last motion and last ding sensors do however update with the correct times.

I see these errors in my logs:
[code]

[2020-01-10 17:18] Tosko4 commented on #160
@tchellomello is this the reason why, I am assuming here, Ring has blocked incoming traffic again? #142 is reporting that this has stopped working again since yesterday.

[2020-01-10 17:19] Tosko4 commented on #142
@HemiBob I have the same. It stopped working again yesterday afternoon for me (GMT +2 timezone here)

[2020-01-10 22:42] Kussie commented on #177
I am seeing the same issue with the auth fixes applied.  So i can see my Ring cameras in HA again now.  However binary sensors and dings are no longer working.

[2020-01-10 23:28] steve-gombos commented on #177
I have been trying to test this with my doorbell for about 30 minutes now.  I don't think this is related to auth at all.  This seems to be related to the timeout on http requests.  The default for everything is 5 seconds except for video download as 2 minutes.  Maybe related to #165

[2020-01-11 06:36] SylvainGa commented on #174
Hi, I'm on hassio, is the process the same? I'm not seeing any ring files in my /config folder. Will the file deposited there override original file somewhere else?

I'm getting closer and closer to dropping this hassio annoyance and going to a manual instance since hassbian is no longer being supported...

[2020-01-11 17:07] dlemmink opened #178 "get_snapshot() gives 405 error"
get_snapshot responds with a 405 error even when using new auth method

 405 Client Error: Method Not Allowed for url: https://api.ring.com/clients_api/snapshots/timestamps?api_version=9

Previously working 1/11 @ 8:46a EDT per #147

[2020-01-11 20:58] JoeDaddy7105 opened #181 "Implement Live Snapshot and trigger Recording in HA integration"
This is more for the HA integration. My python skills and HA knowledge are limited, I come from the .NET/C# realm. Willing to help put this together but not entirely certain where to begin.

Current snapshot service in HA appears to only grab the snapshot from the last recording. This function appears to trigger the doorbell/camera to take a live snapshot then download it which would be better. I

[2020-01-11 21:04] ZachBenz commented on #174
Just incorporated the 0.4.0 release into my Indigo Home Automation Server plugin, and so far, problems resolved.

[2020-01-12 00:08] #174 closed

[2020-01-12 00:11] balloob commented on #174
For Home Assistant users: 0.104.0b3 will include a fix for Ring.

[2020-01-12 01:24] ravishankarbs opened #182 "NameError: name 'token_updated' is not defined"
Getting this error when trying to authenticate with my Ring device with credentials.

NameError: name 'token_updated' is not defined

Anyone else has this issue?

[2020-01-12 01:37] #182 closed

[2020-01-12 02:15] dlemmink commented on #182
What was your resolution?  I had the same error with the new libraries.

[2020-01-12 02:35] 4Dolio commented on #181
I also want to be able to trigger a recording on demand.  For example, I want a 60sec recording at noon every day, etc...

[2020-01-12 03:11] steve-gombos commented on #182
I assume you are working off of an example from test.py?  A token_updater method is passed into auth, which contains logic for saving your token for reuse.

[2020-01-12 03:43] steve-gombos commented on #177
Yeah these are not working now with the new version.  Going to look into this when I have some time.

[2020-01-12 04:55] brama1966 commented on #177
Last motion and last activity update.
Motion detected doesn't trigger at all with or without person detection enabled

[2020-01-12 05:00] #161 closed

[2020-01-12 21:39] tzbailey commented on #181
That should be pretty easy to do. When you call the live streaming json function, it initiates a live feed and closes stops recording automatically after about 30 seconds. That said, I noticed it didn't work initially as it seems to return a 200 status code, rather than 204. Here's my shoddy code that seems to work,
`def live_streaming_json_fixed(self):
    """Return JSON for live streaming."""

[2020-01-12 21:54] tzbailey commented on #181
Agreed on the snapshot, I noticed this and commented on it in another thread. Would happily contribute myself if I had ANY idea what the API call would need to look like. I've been playing around trying to find something that works, but with no success.

On the recording trigger. I have managed to create something that triggers a live stream, which records records for 30 seconds, the code waits fo

[2020-01-13 00:01] dshokouhi commented on #177
Seeing the same thing here the binary sensors are not updating.  Looking at the events page on the ring site it seems they changed the expected output?

[2020-01-13 01:21] steve-gombos commented on #177
I'm seeing inconsistent behavior over the last day of letting this run on the dev branch of HA.  Yesterday I wasn't getting any alerts, and the binary sensors weren't updating.  Today I have been testing the last 10 minutes and have gotten every alert and binary sensor update.  Kind of strange.

[2020-01-13 14:19] tescophil opened #183 "0.5 Release breaks HA integration (SOLVED)"
Don't know if its just me, but I've installed 0.5 in HA via pip install (as per the read me) and it falls at the first fence. Previous version was working, apart from motion and ding sensors.

I see that 0.5 is listed as a 'Breaking Change', so is this the expected behaviour ?, and we will have to wait for an update of Home Assistant before it's working again ?

SOLVED: Answering my own question h

[2020-01-13 20:59] steve-gombos commented on #183
The HA integration is now done through the HA integration page with a config flow. You will need HA version 0.104.

The exception above is also being thrown from an older release and not 0.5 just looking at the stack trace.

Going to close this.

[2020-01-13 20:59] #183 closed

[2020-01-14 19:26] balloob commented on #177
The binary sensors are powered by the dings endpoint. I've tested it with @dshokouhi and after he moved in front of his camera, the endpoint kept returning an empty list.

[2020-01-14 20:05] steve-gombos commented on #177
This is also what I was seeing when I was trying to reproduce this. Maybe an issue with the ring API? I also checked the alerts object from the devices endpoint, but that just returns connection=online for me always.

[2020-01-14 22:04] brama1966 commented on #177
I dont understand why the ding isnt working but i can understand  why the motion isnt. The motion can't be treated as a binary sensor. Ring have added person detection.  Which is a new smart alert feature you can enable. So alerts to my phone come as either There is a Person detected at the Front Door or There is Motion detect at the Front Door. So it's sending a video/snapshot to image process an

[2020-01-14 22:14] dshokouhi commented on #177
Person detection is actually showing in a separate response from what I can see on the event history page.  Just now my binary sensors started to work again and report on/off appropriately.  I think Ring is making changes ATM but I can see a CV property that shows person detected separately.

Here is a snippet from the response on the event history page

[code]

As you can see above person detecte

[2020-01-15 07:14] Kussie commented on #177
Yep looks like Ring are doing some changes behind the scenes somewhere, with zero changes on my side (No updates to anything) dings and motion alerts have started working again.

[2020-01-15 07:49] tescophil commented on #177
Obviously a lot of charge going on at the moment. I've wpdates to the latest version of HA beta which incorporates the latest changes and I noticed that all the WiFi sensors are missing (doorbell and chime)

[2020-01-15 15:26] tzbailey commented on #181
Update on this. I've managed to get it to work by disabling the snapshot feature in the app (Code below). A word of warning though, if you're planning to couple this with Movement Detection, be prepared to wait, it seems like the snapshot will wait until the default 30 second recording of video on movement detection finishes before taking the snapshot, which doesn't really work for what I'm trying

[2020-01-16 00:21] 4Dolio commented on #182
I am still having trouble, after switching from the main page example, and the older documentation example, and now looking at the test.py example.  When I use the test.py I get this error.

OR this:

Previously I had my own wrapper .py script that would just scrape(download) all my clips if I did not already have the file, for archival sake, nothing more.  That script takes my own set of argument

[2020-01-16 00:38] 4Dolio opened #186 "Trouble getting new oauth to work properly."
I am following from https://github.com/tchellomello/python-ring-doorbell/issues/182

I am still having trouble, after switching from the main page example(https://github.com/tchellomello/python-ring-doorbell), and the older documentation example(https://python-ring-doorbell.readthedocs.io/), and now looking at the test.py example mentioned in the above issue.  When I use the test.py I get this err

[2020-01-16 03:56] steve-gombos commented on #186
I'll try to address what I can.  Looks like you are running with python 2.7.  I think a discussion needs to be made as to whether this repo should still support python 2.7 as it went end of life on Jan 1.  Most of the issues I think you are running into are because of that.

The old cache file will not work, as the existing cache file code was removed.  There is a token_updater that is passed into

[2020-01-16 04:01] steve-gombos commented on #177
I updated to 0.104 full release on my main HA instance, so will be monitoring the binary sensors for a few days to see if updates are occurring.  I hadn't had issues with this on the last 0.104 beta on my dev instance.  I don't have the track person setting enabled, since some have pointed that out as a potential issue.

[2020-01-16 04:11] dshokouhi commented on #177
My binary sensors have been updating all day actually.  Just note that they are no longer `on` for 2 minutes.  They are only `on` for the amount of time the video is streaming.  So if for example you have motion verification enabled and you only generate motion for 5 seconds you may not see anything.  Dings seem to show up very quickly as well.  Right now the ding/motion sensors update every 10 se

[2020-01-16 04:28] 4Dolio commented on #186
Don't think I am doing any other python on this system, I can upgrade if that will help. Or I can hold back if you want to try and keep 2.7 compatibility?  I will bring up a newer environment and take another pass at it.  Thanks for the tip.

[2020-01-16 11:54] tescophil opened #187 "WiFi Sensors Missing"
After updating to the latest version, all WiFi sensors are missing from Doorbell and Chime entities. Previously there two WiFi sensors per device.

[2020-01-16 14:23] brama1966 commented on #187
Yep they have vanished and i cant see any errors in the log about it as i did before

[2020-01-17 06:12] 4Dolio commented on #186
I am now trying with python3.5, fixed a few of my own errors, but am still getting:

[2020-01-17 18:19] dshokouhi commented on #187
So these sensors were causing lots and lots of calls and IMO they are useless.  Ring devices are stationary and do not move (with the exception of the peephole cam that moves when the door opens/closes) so what use cases did you guys have?  Its either connected or not right?  Is this impacting any automation?  Note: I did not make this change but I did point out the fact that these devices are sta

[2020-01-17 18:21] dshokouhi commented on #177
My binary sensors are still updating.  I also submitted a PR that was merged into HA to reduce the interval from 10 seconds to 5 so we should be seeing more frequent updates in the next major release.

https://github.com/home-assistant/home-assistant/pull/30858

[2020-01-18 00:03] dlemmink opened #188 "AttributeError: 'Ring' object has no attribute 'stickup_cams'"
Using 0.6.0 and Python 3.6.9 I get the error AttributeError: 'Ring' object has no attribute 'stickup_cams'
when issuing the following code:

def main():
    if cache_file.is_file():
        auth = Auth(
            "HomeAssistant/0.105.0dev0",
            json.loads(cache_file.read_text()),
            token_updated,
        )
    else:
        username = '*********'
        password = '*********'

[2020-01-18 04:22] doctorkb opened #189 "test.py Line 31 is missing the User-Agent"
in test.py, on line 31, the User-Agent is missing from the Auth constructor, which causes it to fail.

[2020-01-18 12:35] galadril opened #190 "TypeError: __init__() takes 2 positional arguments but 3 were given"
Im getting the next exception after updateing ring_doorbell to the latest version via pip (to 0.6.0).

### TypeError: __init__() takes 2 positional arguments but 3 were given

[code]

Im using Python 3.6 at the moment..
Any ideas??

[2020-01-18 12:58] d0ugal commented on #190
I believe you are hitting the breaking change described in the 0.4.0 release notes.

https://github.com/tchellomello/python-ring-doorbell/releases/tag/0.4.0

See the with work there

[2020-01-18 16:13] steve-gombos commented on #177
Yeah I have had this running for several days now with no issues to binary sensors. I think we can probably close this issue?

[2020-01-18 16:15] steve-gombos commented on #190
Several breaking changes on 0.6.0 to fix oauth and data refactoring. Test.py and documentation should guide in the right direction.

[2020-01-18 17:39] tescophil opened #191 "Video unavailable after 1 hour"
Video from the camera (preview image and the stream) is not available one hour after the last event, or one hour after start-up.

After a new motion or ding event the stored video for the event will be available for 1 hour then go offline.

If HA is restarted then the last video stored will again be available for one hour before it goes offline.

No errors in the HA log. (I assume there is some to

[2020-01-18 19:32] galadril commented on #190
Thanks, ive tried to test the test.py  but i get the next exception:
TypeError: argument of type 'function' is not iterable

[code]

[2020-01-18 19:58] steve-gombos commented on #190
Yeah #189 is the cause of this. The user agent is missing when creating the Auth object.

[2020-01-18 23:08] Tosko4 commented on #191
Hey, I wanted to raise your awareness, many more have this issue. Home Assistant (balloob) suggested we start here to try to solve this issue. Please @tchellomello , have a look at the following github issue:

https://github.com/home-assistant/home-assistant/issues/30927#issuecomment-575946513

[2020-01-18 23:22] dshokouhi commented on #191
Can you guys check one thing.  When this issue occurs, go outside and trigger a recording for 10 seconds.  Wait a few minutes and check HA again.  I think what is happening is Ring is expiring the last video URL that we use to display the video.  To check this when the issue happens note the `video_url` attribute for the camera in HA and then create the event.  Wait about 3-5 minutes for the video

[2020-01-19 00:47] thehaxxa commented on #191
Confirmed this is the Case on my end.

It seems the URL expires after 3600 seconds.
Given this is the case, the API is working correctly and this is unfortunately a server side change.

_As an alternative solution:_
I would prefer if Home Assistant caches the last available video and runs a check every '_x_' minutes to download new captured motion. This way the last motion will always be available

[2020-01-19 00:58] dshokouhi commented on #191
You can do this today actually: https://www.home-assistant.io/integrations/ring/#saving-the-videos-captured-by-your-ring-door-bell

HA just asks the parent library for the video and displays it, it does not cache it for any integration AFAIK.  I think the current python script should satisfy this need right?

[2020-01-19 01:19] thehaxxa commented on #191
Sure its doable, calling a Python Script to download the latest video file, overwriting last file as stated.

Setup something like this: https://community.home-assistant.io/t/ffmpeg-camera-from-local-video-file/138843/5 to play the local file and configure as before.

Ideally though this would be integrated into the component or provided as an option as the setup is fairly involved, and I imagine

[2020-01-19 01:40] steve-gombos commented on #191
I've been looking into this today, but I actually think this is an issue with HA itself.  I ran two tests earlier letting it go for an hour after a restart and was able to verify that the camera video/image wouldn't load.

I have forked HA and made a couple changes (https://github.com/steve-gombos/home-assistant/tree/ring-camera-fix) and have been running for about a couple hours and with the chan

[2020-01-19 03:37] dmurphynj commented on #188
Having the same issue ...  Got the authentication working ok (thank you!!) but now I can't seem to find the stickup_cams attribute ...

[code]

returns the following:

[code]

[2020-01-19 03:43] steve-gombos commented on #188
Yeah see the updated documentation in my PR or below.

[code]

[2020-01-19 03:56] dmurphynj commented on #188
That's a work of art!  Thanks Steve!  Works like a champ.

[2020-01-19 07:58] dlemmink commented on #188
Awesome...Thanks.  Looks like the documentation wasn't up to date.

[2020-01-19 09:46] galadril commented on #190
Thanks for the assistance.. i just passed the authorization.
But now i need to get my doorbells. The [readme ](https://github.com/tchellomello/python-ring-doorbell#showing-door-) states:

`doorbell = myring.doorbells[0]`

looking through the code, i think it should be something like:

[code]

But this gives a KeyError.

I think that i dont call the devices() method correctly.. can you please advis

[2020-01-19 09:50] galadril commented on #190
File "test.py", line 43
    {'doorbots': [<RingDoorBell: Front Door>]}
                  ^
SyntaxError: invalid syntax

How should i init that devices() method??

[2020-01-19 11:32] galadril commented on #190
Got it working, thanks!
[code]

[2020-01-19 11:32] #190 closed

[2020-01-19 14:25] steve-gombos commented on #191
I left the changes I made in HA run over night, and I am still able to view the latest event video in the camera entity. I'll ping balloob later.

[2020-01-19 21:18] #191 closed

[2020-01-20 09:13] nuketownhf commented on #138
Hello,
I can't do a PR at the moment as the versions have been changed.

You just need to sort the list of the IDs desc or asc so it will be static doorbots[0] will always be the ID 123xxxxxxx whereas doorbots[1] will always be 542xxxxxxx

at the moment I don't know how to do that with this newer version.

[2020-01-20 10:06] FearNaBoinne opened #193 "Documentation not up to date"
The linked documentation (http://python-ring-doorbell.readthedocs.io/) is not yet providing the new authentication methodology!

[2020-01-20 15:30] steve-gombos commented on #193
I've been working on updating the documentation for the repo in PR #192 but I think @tchellomello may have to load it into readthedocs.

[2020-01-20 18:15] steve-gombos commented on #186
This is due to the lack of a query string parameter when declaring the auth class.  Documentation should be updated now.

[2020-01-20 18:15] #186 closed

[2020-01-20 18:16] #188 closed

[2020-01-20 18:16] #189 closed

[2020-01-22 10:10] 4Dolio commented on #186
Yippee, after some wrangling of packages to get from python 3.5 to 3.6, I was able to get the test script to work... and then to work all the new bugs out of my own script.  All I am using it for is scraping(downloading) the clips, with the ability to specify some rough timespans, to go fetch older missed clips.  Now catching back up on clips from 2019.12.18 through 12.31 and then on to the Januar

[2020-01-22 11:18] UrbanDave commented on #177
My binary sensors stopped updating yesterday and I am only getting "Last Activity" updates in HA now.  I'm running 0.104.3 of HA / HASSIO which is linked to 0.6.0 of this library.  Has anyone else experienced this?

I'm not getting any ring related errors in the log though.  With these Ring issues lately, I switched my automations to use IFTTT to detect Ring motion but I am still relying on Ring M

[2020-01-23 09:22] nuketownhf commented on #170
This happens if you have multiple Ringdoorbells
The issue is located on  #138
@tchellomello has to sort the IDs by order to have them fixed in position

[2020-01-24 05:54] #193 closed

[2020-01-24 22:32] tzbailey commented on #83
The code below worked for me
[code]

[2020-02-05 08:49] Darkem1 opened #195 "Auth is not working"
Hi together,
I just tried to get the new version running, but everytime I try to authenticate, there is an error. This is what the "test.py" puts out:

[code]

What do I have to do? I don't have the 2FA

Thank you!

[2020-02-06 02:50] steve-gombos commented on #195
Auth takes 3 params. You are missing a user agent.

[2020-02-06 02:50] #195 closed

[2020-02-06 07:51] Darkem1 commented on #195
Okay, is this documented somewhere? I tried every readme or test.py from here but I have always the same error.

[2020-02-06 14:53] steve-gombos commented on #195
A couple weeks ago the documentation and examples were all updated. Have you pulled the latest?

[2020-02-06 14:54] Darkem1 commented on #195
Yes, I pulled the latest release. When I execute the "test.py" I get this error.
When I copy the "Initializing your Ring object" from the readme, I get this error.

[2020-02-07 14:30] CristianMori commented on #178
I get the same error on all my devices

[2020-02-07 14:52] CristianMori commented on #178
As an update, I got it to download to work by commenting the query.
I enabled the snapshot feature in the app and retrieve the (last?) snapshot that was taken.

This is the rough implementation to be cleaned up

def get_snapshot(self, retries=3, delay=1):
        """Take a snapshot and download it"""
        url = SNAPSHOT_TIMESTAMP_ENDPOINT
        payload = {"doorbot_ids": [self._attrs.get("id")

[2020-02-08 17:47] steve-gombos commented on #195
If you could post your code, would help figure out your issue.  Just based on the error above I know that is because the user agent isn't being sent in auth as this was seen from here: https://github.com/tchellomello/python-ring-doorbell/issues/190#issuecomment-575931426

[2020-02-08 19:09] CristianMori commented on #178
Got it to work and actually do snapshot with this change

 def get_snapshot(self, retries=3, delay=1):
        """Take a snapshot and download it"""
        try:
            url = SNAPSHOT_TIMESTAMP_ENDPOINT
            payload = {"doorbot_ids": [self._attrs.get("id")]}
            self._ring.query(url, method="POST", json=payload)
            request_time = time.time()
            for _ in range(

[2020-02-20 16:59] knlklabacka opened #197 "Ring Account verification"
I did look through the old issues and searched for this issue.  I have 2FA turned off on my ring account.  Every time I run my script I get auth error.  I also get an email from ring to verify my account.

`
Traceback (most recent call last):
  File "/home/mdk177/Documents/Python/ring_download.py", line 81, in <module>
    main()
  File "/home/mdk177/Documents/Python/ring_download.py", line 26, in

[2020-02-20 21:06] steve-gombos commented on #197
I'm pretty sure ring has made 2FA enabled for everyone within the last day or so.

[2020-02-21 00:02] jr-ring commented on #197
Do you have a path to resolve this and/or do you need to coordinate with us at Ring?  If so, please send me an email to jr@ring.com and we are happy to discuss solutions to you supporting 2FA properly.  Thanks.

[2020-02-21 00:25] steve-gombos commented on #197
@jr-ring 2FA was added at the end of Dec/Jan.  This lib should be good for phone codes (tested with my account), but I haven't verified with an email code.   I assume email should work just fine.

@knlklabacka I recommend you verify your script against the docs.  You will need to implement 2FA into the script you are executing.  Something along the lines of test.py.  oauthlib returns a MissingToke

[2020-02-21 02:29] knlklabacka commented on #197
@steve-gombos my script was to once a day download doorbell motions.  I would like this to happen without user input.  Any suggestions??

[2020-02-21 02:39] steve-gombos commented on #197
You will need to manually auth at least once to get an access token since 2FA is required now.  Then the script will need to implement the token updater to save the access token into a cache file. After that you should be able to just run as usual and the refresh token will be used to generate a new access token. The test.py file and docs are a good place to see this.

[2020-02-21 03:41] knlklabacka commented on #197
Thank you for the help.  I have this working!!

[2020-02-21 03:41] #197 closed

[2020-02-21 07:58] carlwain74 opened #198 "[Help wanted] Having trouble with authentication"
Hi there,

I’m not an expert python developer so excuse myself.

Could someone share with me the best way to authenticate with 2fa enabled?

I had basic authentication working for a while and then Ring started sending me email codes and my script broke.

I saw news about ring security so decided to enable 2fa in my account. However, after reading the docs I’m clueless about what to do.
I tried to

[2020-02-21 08:25] steve-gombos commented on #198
Test.py shows how you would auth.

https://github.com/tchellomello/python-ring-doorbell/blob/master/test.py

You first need to call the fetch token method on auth with your credentials. This will throw a MissingTokenError you need to catch. In the catch you call fetch token again but use the callback to receive input of the 2FA code. Also important to save the access code to refresh tokens after e

[2020-02-21 12:04] carlwain74 commented on #198
I totally missed that example. I’ll check that out and see how I get on.

[2020-02-21 12:19] carlwain74 commented on #198
Awesome, now it works.

[2020-02-21 12:19] #198 closed

[2020-02-25 23:45] itadministrator-bhab opened #199 "Invalid Syntax error message"
How do you go back as far as possible in time?
It seems that the limit is 100 even when the limit is changed in the code.
I get the following error message : line 51, in main
    doorbell.history(limit=15000, kind='motion')[n]['id'],
IndexError: list index out of range

when I run this code

` import json
import getpass
from pathlib import Path

from ring_doorbell import Ring, Auth
from oauthlib.o

[2020-02-26 00:09] itadministrator-bhab commented on #190
Hi Galadril, where do you enter this code?
I just tried the following code and I got the same error message. (    if 'access_token' in response:
TypeError: argument of type 'function' is not iterable)
Thanks

import json
from pathlib import Path

from ring_doorbell import Ring, Auth

cache_file = Path('test_token.cache')

def token_updated(token):
    cache_file.write_text(json.dumps(token))

def

[2020-02-26 00:22] itadministrator-bhab commented on #190
This code worked for me:
import json
import getpass
from pathlib import Path

from ring_doorbell import Ring, Auth
from oauthlib.oauth2 import MissingTokenError

cache_file = Path("test_token.cache")

def token_updated(token):
    cache_file.write_text(json.dumps(token))

def otp_callback():
    auth_code = input("2FA code: ")
    return auth_code

def main():
    if cache_file.is_file():

[2020-02-26 02:05] itadministrator-bhab commented on #190
I was able to run it for more videos with this code:
import json
import getpass
from pathlib import Path

from ring_doorbell import Ring, Auth
from oauthlib.oauth2 import MissingTokenError

cache_file = Path("test_token.cache")

def token_updated(token):
    cache_file.write_text(json.dumps(token))

def otp_callback():
    auth_code = input("2FA code: ")
    return auth_code

def main():
    if ca

[2020-02-27 02:08] itadministrator-bhab opened #200 "Changing the history from 100 to a greater number"
Hi, thank you so much for sharing this amazing tool, do you have a way to change the code to a greater number to get more videos please?
This only returns 100 max.
Thank you!

import json
import getpass
from pathlib import Path

from ring_doorbell import Ring, Auth
from oauthlib.oauth2 import MissingTokenError

cache_file = Path("test_token.cache")

def token_updated(token):
    cache_file.write_t

[2020-02-27 04:06] steve-gombos commented on #200
I can't tell if you are trolling or not.  You have opened two issues that aren't really issues from what I can tell, and #199 has been edited about 10 times,  I'm going to be closing both.  If you have an actual issue to report please open another issue with relevant errors, stack trace, etc...

To add additional information, ring only stores video for the last 60 days, so you can set the limit as

[2020-02-27 04:06] #200 closed

[2020-02-27 04:07] #199 closed

[2020-02-27 06:24] odenisenko commented on #177
`myring.active_alerts()` stil returns empty array.

[2020-02-27 18:20] itadministrator-bhab commented on #200
Hi Steve, thanks for the link and sorry for the numerous edits. It was because I was figuring out how to solve the issue and was updating the code.
The challenge is to get more than the count of 100. It seems that the current code only returns 100 items not 100 days (even given the limit of 60 days).
If the limit is changed to 1000 for example, no matter what the videos won't be returned.
doorbell

[2020-02-27 21:13] nhet opened #201 "check_alerts was removed"
With one of the last checkins (#184) the check_alerts() function was removed. For example in doorbot.py. I currently use this for example like this:
if poll_device.check_alerts() and poll_device.alert:
                dev = devs[poll_device.alert.get('doorbot_id')]
I have not yet found a way to rewrite this.

[2020-02-28 01:50] itadministrator-bhab commented on #199
Steve,
The limit of 100 seems to be for ids. I am trying to go past the id of 100.
I know Ring only stores up to 60 days. But the code here only returns the last 100 videos and not the last 60 days. So if the ring was triggered 100 times on the same day that's all the code returns.
How do you go back as far as possible in time?
Thanks

It seems that the limit is 100 even when the limit is changed

[2020-02-28 05:25] steve-gombos commented on #200
See #63.  Ring limits the API call to 100 regardless of what is passed.  You must use the older_than param set to the last history event ID in the array.

[2020-02-28 18:48] budachst opened #202 "auth issues: TypeError: __init__() takes from 1 to 3 positional arguments but 4 were given"
I have downloaded the test.py example and tried it on my host, but each time I am getting an error about 3 positional arguments being expected, but 4 arguments being provided:

[code]

Any idea, what could cause this?

[2020-02-28 18:51] budachst commented on #202
Ahh… silly me… I invoked Python3.5 instead of 3.7.

[2020-02-28 18:51] #202 closed

[2020-02-28 19:43] steve-gombos commented on #201
On the ring class there is either update_dings or update_data (internally calls update_dings), which stores data into ring.dings_data.  I would imagine this should get you what you would need, since check_alerts was just hitting the dings endpoint.

[code]

[2020-02-28 20:57] steve-gombos commented on #201
I'm going to dig into this a little more later this evening, the session setup may be causing issues.

[2020-02-29 00:25] itadministrator-bhab commented on #200
Thanks Steve, I tried using #63 but I get the following error message: No name 'URL_DOORBELL_HISTORY' in module 'ring_doorbell' when following the example from #63
history=doorbell._ring.query(API_URI + URL_DOORBELL_HISTORY.format(doorbell.account_id), extra_params={'older_than':history[-1]['id']})
How do you pass the parameter in the following case
for n in range(99,15000):
        doorbell.recor

[2020-02-29 00:34] steve-gombos commented on #200
Best I can give you is this:

[code]

[2020-02-29 00:44] itadministrator-bhab commented on #200
Thanks. Just tried this :
`
  devices = ring.devices()
    doorbell = devices['stickup_cams'][0]
    history = devices['stickup_cams'][0].history(limit=100)
    print(len(history))
    doorbell.recording_download(
    doorbell.history(limit=1000, kind='motion', older_than=history[49]['id'])[101]['id'],
                     filename='last_ding00.mp4',
                     override=True

[2020-02-29 03:58] steve-gombos commented on #200
I'd assume to do what you want, you will have to get history up to the limit, at the last index of the array, you will save that history event id, then you will call doorbell.history setting the older_than query string param equal to the history event id, then you will loop over that set of history events, and you will basically do that until your done.

[2020-02-29 13:38] evdven opened #203 "Not able to authenticate"
I'm running the latest release (0.6.0) of this lib and trying to get the ring api working again. Running the corresponding example test.py results in the following error:

Traceback (most recent call last):
  File "dev/python/test.py", line 45, in <module>
    main()
  File "dev/python/test.py", line 31, in main
    auth = Auth(None, token_updated)
  File "/home/pi/.local/lib/python3.5/site-packag

[2020-02-29 16:21] steve-gombos commented on #201
So I am not super familiar with this endpoint, but from what I have researched this is basically a 1 time read event.  If you have anything else polling ring, for example, the mobile app, HA integration, etc... then you would be competing with those to pull the events from the dings/active endpoint.  I'm not sure how this would be resolved since it isn't guaranteed to grab the events.

I'll look i

[2020-02-29 19:50] dshokouhi commented on #203
@evdven python 3.5 is not supported in the latest version.

[2020-03-01 14:31] idvorkin commented on #161
How do you get a 2FA code, do you need to trigger it from another device?

[2020-03-01 14:34] idvorkin commented on #161
Also, can someone provide an example with the token caching? I can probably update the README.

[2020-03-01 16:38] evdven commented on #203
@dshokouhi thanks for your hint. However moving it to python3.8 still seems to results in similar error. The funny thing is I'm running the corresponding [test.py](https://github.com/tchellomello/python-ring-doorbell/blob/master/test.py) script. Can you test if this works on your end?

Traceback (most recent call last):
  File "test_org.py", line 46, in <module>
    main()
  File "test_org.py", li

[2020-03-01 19:58] steve-gombos commented on #161
Test.py had these examples, but I have placed the minimum code in the readme now that 2FA is required.

[2020-03-01 19:59] steve-gombos commented on #203
Python 3.5 support was removed.  I haven't tested with 3.8.  But regardless you are missing the the user agent constructor param on Auth.

[2020-03-01 20:14] evdven commented on #203
@steve-gombos thanks this does the trick! Now it works on 3.8 :)

[2020-03-01 20:14] #203 closed

[2020-03-02 16:43] wdstorer commented on #201
I also ran into this after updating my libraries. From what I found, you can now use update_dings() in combination with the active_alerts() function on the class ring_doorbell.Ring object.  You'll need to parse the result of active_alerts() for the source of the alert. Seems to be working for me since replacing the code this morning.

Example without bothering to see where the alert came from:
[co

[2020-03-03 00:56] itadministrator-bhab commented on #200
Thanks. So I tried the following and I am able to go past 100 videos but the connection to Ring resets at random times for some reason and then I have to start the download all over. How does one start the  download not from the present time but from a a week ago for example?
Thank you
`    while len(history) > 0:
            print(
                "\tProcessing and downloading the next videos"

[2020-03-03 03:35] steve-gombos commented on #200
Sounds like you need to write a smarter script. You probably need to accomplish what you are trying in multiple parts. One is extracting all of the events to storage. Second is to then worry about downloading, and as you download you can update the storage with those that you have downloaded as you go. That way you can check if you have downloaded them previously and just skip. This to me isn't an

[2020-03-03 23:17] itadministrator-bhab commented on #200
I agree. In words it seems very easy to do... I think a smarter script would also be to capture the last failed one and start from there instead of going through the entire sequence of downloads.
I tried the following but it still downloaded from the most recent event.

` while len(history) > 0:
            print(
                "\tProcessing and downloading the next videos"
            )

[2020-03-03 23:30] 4Dolio commented on #200
I will try to post my script.  But the gist of it is I save my videos as DevName_Date_EventID.mp4, this way O can ask my script to download any date for which I already have a download, which you slowly get as you download them all backwards in time...  To get days I missed, I give it an array of dates, going backwards, by 1hour intervals, starting at the oldest clip I already have.  I won't be ab

[2020-03-03 23:33] itadministrator-bhab commented on #200
Thank you very much for your offer to help. I can wait a few days for a working code.
I tried a similar approach (tracking the last id) but the code to request videos older than the last id that worked still starts with the download of the most recent video instead of getting the videos older than that video.
` while len(history) > 0:
print(
"\tProcessing and downloading the next videos"
)

[2020-03-03 23:36] 4Dolio commented on #200
Shrugs... Yes, it might also always download the newest clips, I'm not sure, but you want those also anyway?

[2020-03-03 23:43] itadministrator-bhab commented on #200
I'm ok with getting the most recent ones as long as I am able to get all the videos. The problem is that the code crashes for some reason and then I have to restart the download and hope it doesn't crash.

[2020-03-04 22:54] itadministrator-bhab commented on #200
FYI. In my attempt to start the download from a previous day instead of the most current, I used the following code but I get the following error message: "history = doorbell.history(limit=100, older_than=history[6799740619029108920]["id"])
IndexError: list index out of range"

`    devices = ring.devices()
    doorbell = devices['stickup_cams'][0]
    history = devices['stickup_cams'][0].history(

[2020-03-04 23:00] itadministrator-bhab commented on #200
Also, does anyone know if there's a way to specify a specific camera by its name? It seems that the index for the camera changes as new events occur. For example doorbell = devices['stickup_cams'][0] refers to camera A currently but will refer to camera B at a later time. I am looking for something like doorbell = devices['stickup_cams'][A] but this won't work as it's for an index.
Thanks

[2020-03-04 23:03] 4Dolio commented on #200
The older_than index must be valid for one of your clips.  I attempted an arbitrary value and that does not work, returns the error you got.  Also, my script also crashes periodically.  Sometime it does not get any good data, sometime is gets some clips and then crashes, most of the time it works fine.  So you will need to handle that, I do so by calling my .py scrips from a shell loop with approp

[2020-03-04 23:17] itadministrator-bhab commented on #200
Thank you so much for looking into this and sharing your experience. So here's the proper call for the index:
history = doorbell.history(limit=100, older_than='6799740619029108920')
I was using : history = doorbell.history(limit=100, older_than=history[6799740619029108920]["id"])
Both had the valid event id. The proper way to call it is:
history = doorbell.history(limit=100, older_than='6799740619

[2020-03-05 00:14] itadministrator-bhab commented on #200
At this point the one thing that would be helpful would be able to specify which camera. It seems that the index for the camera changes as new events occur. For example
doorbell = devices['stickup_cams'][0] refers to camera A currently but will refer to camera B at a later time. I am looking for something like doorbell = devices['stickup_cams'][A] but this won't work as it's for an index.
Thanks

[2020-03-05 04:13] 4Dolio commented on #201
That makes sense given my observations, whenever I attempted to run my downloads script in two locations one of them always gets knocked offline.  And when I run just one instance of my download it still occasionally gets kicked before it finishes.  Knowing there can only be a single session, perhaps it is my own phone app that is causing the download script to get kicked occasionally.... On that

[2020-03-05 04:42] 4Dolio commented on #200
Ok, here is my script.  I am a sysadmin, so this is rather Bash centric, a lot of the safeties are due to running it from a shell with timeouts and loops and sleeps, YMMV.

https://github.com/4Dolio/python-ring-doorbell/blob/master/RingFetchPub.py

[2020-03-05 04:48] 4Dolio opened #204 "Main Page still references python2.7 by tag(?)."
Main Page still references python2.7 by tag(?).
Also mentions python3, but should perhaps be python3.6+ because 3.5 is not supported?

[2020-03-12 16:20] knlklabacka commented on #161
Sorry if this is not the greatest place to post this but I wanted to share with this group.  If anyone is interested in expanding on this or making adjustments feel free.  Below is what I'm using to get the verification code from my email to further automate the 2FA.  I have only tested this with gmail and it works.

`def get_verification_code_from_email(self, email_host, email_username, email_pas

[2020-03-13 22:25] thanneman79 opened #205 "404 Client Error: Not Found for url"
I'm in the process of revamping my Ring Video archiver script to use the new 2FA. I believe I've got that part down, however I get the following error randomly.

ring_doorbell.doorbot - ERROR - 404 Client Error: Not Found for url: https://api.ring.com/clients_api/dings/[RING EVENT REDACTED]/recording?api_version=9
Traceback (most recent call last):

[2020-03-15 19:15] thanneman79 commented on #205
The download function also seems slower now.

[2020-03-17 01:15] knlklabacka commented on #205
I'm having the same issue.

[2020-03-22 16:40] JoeDaddy7105 commented on #181
I am actually wanting to use this to cut back my motion detection on the Ring camera so I can trigger recordings using other sensors. I also want to bake this into the Home Assistant integration or use a python script in HA to trigger the recordings and get a live snapshot since this appears to be already functioning in this library. I am having trouble figuring out how best to add this to the HA

[2020-03-28 16:37] dtseiler commented on #161
Just getting back to this project now with 0.6.0 and the stock test.py. I get prompted for user and password and then it fails on a function argument error. I'm never prompted for a 2FA code and one is not being sent by Ring.com like it used to be.

This is with python 3.6 in a fresh virtualenv on my CentOS 7 box.

[code]

[2020-03-28 16:58] dtseiler commented on #161
Oh it worked when I pulled the test.py from the master branch. The test.py in the 0.6.0 release tar.gz does not work.

[2020-04-13 01:50] troopermax opened #206 "Error on recording status None (probably rare corner case)"
Mainly wanted to inform about a weird corner case that could cause problems in some cases - I somehow ended up with an entry in my Ring history that does not have a recording. Not sure why this happened if there was some glitch in trying to save the recording or submit it to the Ring servers or what, but even the Ring app just shows the event with no option to view/download it. This has nothing to

[2020-04-15 19:52] Sku1ly commented on #103
I know this is old but my battery powered spotlight and new battery powered stick up cam are now both activating siren in home assistant

[2020-04-17 18:27] dlemmink opened #208 "Shared Spotlight cams not showing when querying devices"
a portion of code:

    ring = Ring(auth)
    ring.update_data()

    devices = ring.devices()
    print(devices)

reveals:
{'stickup_cams': [<RingStickUpCam: Parking>], 'chimes': [], 'doorbots': [], 'authorized_doorbots': [<RingDoorBell: Office Front Door>, <RingDoorBell: Front Door>, <RingDoorBell: Warehouse Door>]}

Not seeing the spotlight cams.
They do however show in the IOS app logged onto

[2020-04-17 19:59] dlemmink commented on #208
Resolved.

Looks like I needed to clear the token cache.

[2020-04-17 19:59] #208 closed

[2020-04-25 15:38] zhenqidong opened #209 "Error in the example give in Readme"
Traceback (most recent call last):
  File "ex1.py", line 6, in <module>
    from ring_doorbell import Ring, Auth
ImportError: cannot import name 'Auth'

[2020-04-26 21:56] zhenqidong commented on #209
Found the reason, the published module seems older, once pull the code from git directly, it works.

[2020-04-26 21:56] #209 closed

[2020-04-26 21:58] zhenqidong opened #210 "get_snapshot method of doorbot class doesn't work"
[code]

[2020-04-29 02:00] hesto2 commented on #210
Having the same issue

[2020-05-02 18:38] freekeys commented on #126
Hey! Thanks for all your work in this! Is this implemented?

[2020-05-03 07:06] budachst commented on #210
Have you patched the doorbot.py as shown here: [https://github.com/tchellomello/python-ring-doorbell/pull/196/files](url)?

[2020-05-03 08:08] budachst opened #211 "Cannot get snapshot, while motion or ding event is active"
I was trying to get a snapshot from the API while a motion event was on-going. That is the API had signalled a motion event and my app was waiting for the video to become available.

Calling get_snapshot() didn't do anything - it just seems to return nothing. Is this a limitation of the ring API, or is this working for someone?

[2020-05-06 12:21] georgepstaylor commented on #211
As far as I’m aware, this is normal and if you tried this within the app, it would say something along the lines of “Ring Doorbell is Busy”

[2020-05-07 12:58] rolands123 opened #212 "Question usage"
Hello,

I did try this library, and it is working great! Thanks for that. However i have some questions:

1. Is it possible to only download the video with "doorbell.recording_download" when the last download is older than the available one or somehow validate since the last motion.
2. In the example for "doorbell.recording_download" there is a limit=100 displayed, however, as I understand, it is

[2020-05-07 13:33] budachst commented on #211
You mean the Ring app? I actually never tried this…, but I will check it out.

[2020-05-07 13:39] georgepstaylor commented on #211
Yeah in the app! I’m fairly sure - but give it a go!

George Taylor
________________________________
From: budachst <notifications@github.com>
Sent: Thursday, May 7, 2020 2:33:41 PM
To: tchellomello/python-ring-doorbell <python-ring-doorbell@noreply.github.com>
Cc: George Taylor <george@gpst.me>; Comment <comment@noreply.github.com>
Subject: Re: [tchellomello/python-ring-doorbell] Cannot get snaps

[2020-05-29 14:01] mlcassatt opened #213 "requests.exceptions.HTTPError: 406 Client Error: Not Acceptable for url: https://api.ring.com/clients_api/session?api_version=9"
Trying to make the initial connection and update_data() causes a 406 error starting today. Wondering if anyone else is seeing this or if I look "automated" and am being blocked by security now?

File "dateRing.py", line 45, in main
    myring.update_data()
  File "/opt/fauxmo/ring/lib/python3.6/site-packages/ring_doorbell/__init__.py", line 49, in update_data
    self.create_session()
  File "/opt

[2020-05-31 05:59] PyxAI opened #214 "timestamp check on get_snapshot"
Hi everyone, thanks for this great contribution!
I keep getting a False response from this check which made me wonder why is check even needed?
[code]

[2020-05-31 08:03] PyxAI commented on #214
In any case, seems that the snapshot is a cached image, i am not able to get a fresh image all the time.
What I am trying to do is to setup a face recognition system on the ring device.
So instead of "someone is at your door" alert, you would get "Mom is at your door", and similar benefits.
The first issue is that I have to poll the API for new events
And the second issue is that I cannot get a ne

[2020-06-02 15:46] #213 closed

[2020-06-02 15:47] mlcassatt commented on #213
It turns out that I was hitting the Ring API too much and I believe they blacklisted my IP. If you run into this issue, it might require a call to customer service to get them to move to their dev team (perhaps looking for automation hitting their systems too much for attacks). It was resolved for me after a few days.

[2020-06-07 18:07] johnthomas00 opened #215 "Please Allow Proxies Configuration"
Please allow configuration to use a proxy.

Perhaps a configuration variable could be:
proxies={
    'http': 'http://192.168.1.1:3128',
    'https': 'http://192.168.1.1:3128',
}

Then, I believe the only chanes required are in auth.py (test quickly to work):

in class Auth:
  in def fetch_token:
    in token =
       add
           proxies=proxies

  and in def kwargs =
    add
       "proxies": p

[2020-06-11 08:03] Devqon commented on #23
Is someone still on this in python? I was working further on the node solution by @jeroenterheerdt in a HA addon, but then thought why can't this just be done in the language of HA itself (python). I am not very much of a python developer myself, but willing to try to port the node solution to python.

[2020-06-11 13:15] dgreif commented on #23
If anyone does decide to take this on in Python, I've documented a lot of my findings from implementing it in node: https://github.com/dgreif/ring/wiki/SIP-Communication.

[2020-06-17 14:50] odenisenko-zz opened #216 "is I am alone with "no motion" events for more than 2 days?"
subj?

[2020-06-17 21:47] Tominium opened #217 "Issue when calling live_streaming_json"
Heres the code:`import json
import getpass
from pathlib import Path
from pprint import pprint

from ring_doorbell import Ring, Auth
from oauthlib.oauth2 import MissingTokenError

cache_file = Path("test_token.cache")

def token_updated(token):
    cache_file.write_text(json.dumps(token))

def otp_callback():
    auth_code = input("2FA code: ")
    return auth_code

def main():
    if cache_file.is

[2020-06-26 05:16] 4Dolio commented on #211
I also noticed I could not use the API twice simultaneously.  And I think I found a work around, the problem seems to be the user who is accessing is limited to one single session. In fact, I think my use of my main account by the API caused my phone account session to become corrupted, requiring me to logout and login to fix, may have been an edge case of my particular phone though.

So to work a

[2020-06-26 05:19] 4Dolio commented on #147
I need to add this to my "archiver" script that downloads all video clips!  Note to self, because still frames are awesome for later time lapse!  Hope to try it out some time soon... Thanks for the added feature, hope it's working soon.

[2020-06-26 05:27] 4Dolio commented on #141
I encountered this limit, but found there is also a $start-event (for past event count) call.  So I solved this be using the oldest known event I'd in order to build a local index of older events up to the 3month Ring storage limit... Hope that pseudo code helps.

[2020-06-26 05:34] 4Dolio commented on #178
I am not sure if #147 is related to the new Ring feature of taking ~5min still frame recordings?  But that feature is/would be perfect for what I want, which is a continuous still frame feed.  I used to compile timelapse of noon frames over a year for example, so having them at whatever frequency I can see in my app scrubber is great, once I determine how to fetch them all.

[2020-06-26 05:37] 4Dolio commented on #212
I do this test client side.  Save all clips in a known format and just test that it exists before calling the download.

[2020-06-26 05:39] 4Dolio commented on #214
Very cool application idea with the image recognition! Latency would be important for near real time functionality indeed.

[2020-06-26 05:40] 4Dolio commented on #216
I had to switch my doorbell from 5g to 2.5 cause it kept getting knocked off for days, began only month ago but had been working years prior, likely totally unrelated.

[2020-06-27 14:16] clinkadink commented on #217
Change `print(doorbell.live_streaming_json())`
To this  `print(doorbell.live_streaming_json)`

[2020-06-27 15:00] clinkadink opened #219 "live_streaming_json returns "None""
I couldn't work out why `live_streaming_json` was returning "None" all the time. On further investigation, it seems as if the endpoint has changed. Instead of ending in `/vod` it now ends in `/live_view`

In const.py, I have changed:
From this: `LIVE_STREAMING_ENDPOINT = DOORBELLS_ENDPOINT + "/vod"`
To this: `LIVE_STREAMING_ENDPOINT = DOORBELLS_ENDPOINT + "/live_view"`

I thought that was the only

[2020-06-27 15:49] KattyMan06 opened #220 "live_streaming_json returns "[ ]""
`import json
import getpass
from pathlib import Path
from pprint import pprint

from ring_doorbell import Ring, Auth
from oauthlib.oauth2 import MissingTokenError
from ring_doorbell.doorbot import RingDoorBell

cache_file = Path("test_token.cache")

def token_updated(token):
    cache_file.write_text(json.dumps(token))

def otp_callback():
    auth_code = input("2FA code: ")
    return auth_code

[2020-06-27 20:30] clinkadink commented on #214
I also get False with `get_snapshot`.

I figured out the only way I can get this working is to (1) update the first query, and (2) comment out the 'timestamp' line.

Granted, the snapshots are often a few minutes old. But for now, its better than nothing.

[code]

[2020-06-27 20:32] clinkadink commented on #210
This may (or may not) help.
https://github.com/tchellomello/python-ring-doorbell/issues/214#issuecomment-650620143

[2020-06-27 20:34] clinkadink commented on #178
I am also seeing that the snapshots are always between 3 and 5 minutes old.

[2020-07-07 22:22] torbjorn-stabo opened #221 "Fails to connect to Ring"
I'm getting
`WARNING (MainThread) [homeassistant.components.ring] Error fetching Ring device data: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))`
in home-assistant.log. Related to #177 ?

[2020-07-17 01:00] grtessman commented on #23
Hey guys... I skimmed through this thread a bit.  I noticed that someone said SIP streaming URL is returned.  Why would you need any client for that? All modern browsers support WebRTC using SIP in a native browser VIDEO element.  The real question is, does this still work without a subscription today for the live stream?  Seems like it should...

[2020-07-17 15:40] Shamshala commented on #23
LiveView proxy could be really cool feature! I would be twice as glad now because i've just changed ISP and it uses TDD Flexible Framing which corrupts my streams (sound primarily). Quite pity with 4 four Ring cameras. :unamused:

[2020-07-29 14:56] MartinHjelmare opened #222 "Requirement is pinned for ring-doorbell 0.6.0: requests==2.22.0"
- This library supports an integration in Home Assistant.
- The upcoming pip resolver will be more strict in resolving package version conflicts:
http://pyfound.blogspot.com/2020/03/new-pip-resolver-to-roll-out-this-year.html#what-will-change
- To avoid future issues it would be good if this library would change its pinning to allow any higher version and just set a minimum version.

Thanks for yo

[2020-08-02 09:22] Dfbrand commented on #23
Any update on this at all? I am not confident enough in python unfortunately

[2020-08-16 13:36] jpveen commented on #126
Is there a way to disable motion detect using this API ? And is there also an option to only disable motion-detect signal from chimes and apps while recording of motion is still possible?
Would be great to be able to set motion-detect notifications ON and OFF using this API !

[2020-08-16 15:07] jsetton commented on #126
You can only snooze #87 or toggle #125 motion alerts on a per app client basis defined by its hardware id. For global toggling, you will need to use scheduling part of this feature request. Basically, have an always disabled schedule already created, and enable it when you want to snooze the alerts and disable it when you want to receive alerts across all your clients.

If you are referring to con

[2020-09-01 10:41] soeters opened #223 "Active alerts not working?"
Hi all,

In an infinite loop i'm checking for alerts each 2 seconds with:
[code]
But when I press the ring, no alert is coming through (it does on the official app).
Am I missing something?  What is the definition of an active alert?

[2020-09-22 00:26] kethan1 commented on #219
Thank you very much, I forked this project and did the changes and it works :)

[2020-09-24 06:26] vibhubithar commented on #213
facing the same issue, called the customer care and they fixed the issue with my Ring webpage access but API access is still a problem.. will try again tomorrow

[2020-09-25 16:05] kethan1 commented on #219
I did have an issue with the URL, it did not work :(

[2020-09-28 11:27] balloob commented on #222
Fixes in 59ae9b186df5b6b2ad2b87d92374738cb6b84b33

[2020-09-28 11:27] #222 closed

[2020-09-29 00:32] kethan1 commented on #219
I just realized that this a SIP url, SIP is pretty much used for making calls and Ring uses this for two way audio and video.

[2020-10-13 19:04] kethan1 commented on #23
Look at this: http://cs.uccs.edu/~cs526/svoip/src/shtoom/shtoom/sip.py, it is messy, and I can't make heads or tails out of it :)

[2020-11-20 23:13] MartinHjelmare commented on #222
`setup.py` still has pinned requirements:
https://github.com/tchellomello/python-ring-doorbell/blob/d20243aa19eb115ea2c7562ccb0b2bab864ebb3f/setup.py#L25-L28

When a new release is made it would be good to also bump in home assistant.

[2020-11-21 21:13] balloob commented on #222
Fixed in 0.6.2

[2020-11-26 19:39] #124 closed

[2020-11-26 22:35] #219 closed

[2020-11-26 22:35] #220 closed

[2020-12-01 09:56] clintonruairi opened #226 "500 Server Error: Internal Server Error"
Hey folks

I'm trying to batch download my stickup_cam videos. I was successfully managing to do it, and programmed in about a 30 second delay per download. I managed to download about 160, before I started getting :

500 Server Error: Internal Server Error for url: https://api.ring.com/clients_api/dings/6895848969085893953/recording?api_version=9

Obviously this is an issue on ring's side, but is

[2020-12-05 11:49] clintonruairi commented on #221
Having the same issue. Clearing the cache of your browser appears to work temporarily. No perma-fix though.

[2020-12-06 12:55] agrieco opened #227 "Ring Transformer support"
I don’t see support for the Ring Transformer (https://ring.com/products/smart-lighting-transformer).  Did I overlook it?  If not, is anyone working on adding support for it?

Thanks

[2020-12-14 18:12] knlklabacka commented on #205
Was there a fix for this?  Or was this issue resolved?  I'm having the same error as of today.

[2020-12-15 14:34] thanneman79 commented on #205
I still get it randomly to this day. Been awhile since I implemented a work around on my side. If I recall it'll happen over and over on the same event. My code will move on to the next event.

[2020-12-15 16:54] riptidewave93 commented on #223
I have found if you are hitting the endpoint too often it will fail to grab active alerts. Personally adding a 5 second sleep seems to work best in my testing, but results may vary.

[2020-12-24 18:50] Jagohu opened #230 "Too many sessions running"
Hi,

I have an issue which came up with all the releases, including the last one - it seems like every time I call the script it creates a new instance, which ultimately "floods" my android app out of the Ring account.
I run it through a crontab every 10 minutes.
![image](https://user-images.githubusercontent.com/35196588/103103391-082d8c80-4621-11eb-9aa0-4949db812cff.png)

Any idea how to fix thi